<template>
  <header class="header-container">
    <div class="header-inner-wrapper">
      <nuxt-link to="/" class="header-logo">
        <img src="../../assets/menu/logo.svg"/>
      </nuxt-link>
      <div class="header-items">
        Московский транспорт
      </div>
      <User />
    </div>
  </header>
</template>

<script>
  import {mapActions} from 'vuex'
  import User from '~/components/Account';

  export default {
    name: 'Header',
    components: {
      User,
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized
      },
    },
    methods: {
      onClickLoginBtn() {
        if (this.authorized) {
          this.logout()
        }
        this.$router.push('/login')
      },
      ...mapActions({
        logout: 'auth/logout'
      }),
    }
  }
</script>

<style lang="scss">
  .header-container {
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    flex-shrink: 0;

    .header-inner-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 66px;
      color: #333;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      max-width: 1440px;

      .header-logo {
        height: 47px;
        width: 38px;
      }

      .header-items {
        display: flex;
        height: 100%;
        margin: 0 auto;
        align-items: center;

        .header-item {
          padding: 12px 27px;
          transition: color 0.3s;
          cursor: pointer;
          white-space: nowrap;
          color: #333;
          text-decoration: none;
          display: flex;
          align-items: center;
          height: 100%;

          &:hover {
            color: #000;
          }

          &.nuxt-link-active {
            position: relative;

            &::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #2b7ae6;
              content: '';
            }
          }
        }
      }

      .header-user {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .header-user-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #e0e0e0;
          margin-right: 12px;

          .header-user-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .header-logout-btn {
    background-color: transparent;
    border: 0;
    outline: none;
  }
</style>

