<template>
  <div class="user-box">
    <div v-if="authorized">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <button
            v-on="on"
            class="user-box__btn"
          >
            <div class="user-box__avatar">
              <img src="../../assets/menu/user.svg" class="user-box__img" alt="" />
            </div>
            <span class="user-box__name"> {{userName}}</span>
          </button>
        </template>
        <v-list class="user-box__v-list">
          <v-list-item>
            <nuxt-link to="/account">Мои данные</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'user'">
            <nuxt-link to="/account/proposals">Мои идеи</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'user'">
            <nuxt-link to="/account/notifications">Мои уведомления <sup v-if="notificationsCount">{{notificationsCount}}</sup></nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'user'">
            <nuxt-link to="/account/messages">Мои сообщения</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'user'">
            <nuxt-link to="/account/achievement">Мои достижения</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'operator'">
            <nuxt-link to="/operator/proposals">Журнал идей</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'operator'">
            <nuxt-link to="/operator/comments">Журнал комментариев</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'admin'">
            <nuxt-link to="/admin/users">Журнал пользователей</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'admin'">
            <nuxt-link to="/admin/proposals">Журнал идей</nuxt-link>
          </v-list-item>
          <v-list-item v-if="role === 'admin'">
            <nuxt-link to="/admin/operators">Статистика</nuxt-link>
          </v-list-item>
          <v-list-item @click="exit" class="user-box__logout">
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <nuxt-link class="v-btn v-btn--contained theme--light v-size--default user-box__btn" v-else to="/login"><span class="v-btn__content">Войти</span></nuxt-link>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    methods: {
      ...mapActions({
        exit: 'auth/exit'
      }),
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      userName() {
        return this.$store.state.account.summary.username;
      },
      notificationsCount() {
        return this.$store.state.notifications.count;
      },
      role() {
        return this.$store.state.users.role;
      },
    }
  }
</script>

<style lang="scss" scoped>
  .user-box {
    height: 50px;
    display: flex;
    align-items: center;

    &__btn {
      display: flex;
      align-items: center;
    }

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;
      background-color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      display: block;
      width: 20px;
      height: 20px;
    }

    &__name {
      font-weight: 300;
      font-size: 16px;
    }

    &__logout {
      border-top: 1px solid #ebebeb;
    }

    &__v-list {
      padding-bottom: 0;
      padding-top: 5px;
      .v-list-item {
        min-height: 40px;
        cursor: pointer;
        .v-list-item__title,
        a {
          font-size: 16px;
          font-weight: 300;
          color: rgba(0, 0, 0, 0.87);
          text-decoration: none;
          display: flex;
          flex-grow: 1;
          min-height: 40px;
          align-items: center;
        }
        & a:hover,
        &:hover .v-list-item__title {
          color: #2b7ae6;
        }
        sup {
          font-size: 11px;
          background-color: #2196f3;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 14px;
          color: #fff;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 3px;
          text-align: center;
          font-weight: 400;
          top: -8px;
          right: -2px;
          flex-shrink: 0;
          font-family: Moscow Sans, sans-serif;
        }
      }
    }
  }
</style>
