<template>
  <div class="popup-container">
    <route
      v-if="layerName.endsWith('route_layer')"
      :data="popupData"
    />
    <stops
      v-if="layerName.endsWith('stops_layer')"
      :data="popupData"
    />
  </div>
</template>

<script>
import route from './route'
import stops from './stops'

export default {
  name: 'Popup',
  components: {
    route,
    stops,
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  computed: {
    layerName() {
      return this.data.layer.id
    },
    popupData() {
      const properties = {}
      Object.keys(this.$props.data.properties).forEach(someProperty => {
        const prop = this.$props.data.properties[someProperty]
        properties[someProperty] = prop ? prop : '-'
      })
      return {
        ...this.$props.data,
        properties
      }
    }
  }
}
</script>

<style lang="scss">
.mapboxgl-popup {
  max-width: 400px !important;

  .mapboxgl-popup-content {
    box-shadow: 0 0 10px 2px grey;
  }
}

.popup-container {
  border-radius: 4px;

  .container {
    padding: 0;
  }

  .v-list {
    width: 200px;
    margin: 0 10px;

    .v-list__tile__title {
      white-space: pre-wrap;
      height: unset;
    }
  }

  .popup-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .popup-item {
      padding: 8px 0;
      justify-content: flex-start;

      .v-list__tile__sub-title {
        white-space: pre-wrap;
        font-size: 13px;
      }
    }
  }
}

.mapboxgl-popup-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 11px;
  height: 11px;
  background: url('../../assets/menu/close.svg') no-repeat center;
  background-size: contain;
  visibility: visible;
  font-size: 0;
  background-color: transparent;
  outline: none;
}
</style>
