<template>
  <div class="popup-wrapper">
    <v-list two-line subheader>
      <v-list-tile-content class="popup-item">
        <v-list-tile-title>{{ data.properties.id }}</v-list-tile-title>
        <v-list-tile-sub-title>ID остановки</v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-content class="popup-item">
        <v-list-tile-title>{{ data.properties.name }}</v-list-tile-title>
        <v-list-tile-sub-title>Название остановки</v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-content class="popup-item">
        <v-list-tile-title>{{ data.properties.routeID }}</v-list-tile-title>
        <v-list-tile-sub-title>ID маршрута</v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-content class="popup-item">
        <v-list-tile-title>{{ data.properties.sequenceID }}</v-list-tile-title>
        <v-list-tile-sub-title>Номер остановки в последовательности остановок для конкретного routeID</v-list-tile-sub-title>
      </v-list-tile-content>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'stops',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
}
</script>

