<template>
  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55 (78076) - https://sketchapp.com -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Cписок-предложений" transform="translate(-1387.000000, -119.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M1397,119 C1391.4823,119 1387,123.482302 1387,129 C1387,134.517698 1391.4823,139 1397,139 C1402.5177,139 1407,134.517698 1407,129 C1407,123.482302 1402.5177,119 1397,119 Z M1397,119.869565 C1402.04775,119.869565 1406.13043,123.95225 1406.13043,129 C1406.13043,134.04775 1402.04775,138.130435 1397,138.130435 C1391.95225,138.130435 1387.86957,134.04775 1387.86957,129 C1387.86957,123.95225 1391.95225,119.869565 1397,119.869565 Z M1396.56522,123.782609 L1396.56522,128.565217 L1391.78261,128.565217 L1391.78261,129.434783 L1396.56522,129.434783 L1396.56522,134.217391 L1397.43478,134.217391 L1397.43478,129.434783 L1402.21739,129.434783 L1402.21739,128.565217 L1397.43478,128.565217 L1397.43478,123.782609 L1396.56522,123.782609 Z" id="Shape"></path>
      </g>
    </g>
  </svg>
</template>
