<template>
  <svg width="11px" height="14px" viewBox="0 0 11 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill="#333" fill-rule="nonzero">
        <path d="M6.62,14 C6.53589028,13.9989832 6.4560711,13.9627018 6.4,13.9 L-2.27373675e-13,7.5 L6.4,1.1 C6.4751598,1.01603638 6.5910334,0.981274293 6.7,1.01 C6.81,1.04 6.9,1.12 6.93,1.23 C6.95872571,1.3389666 6.92396362,1.4548402 6.84,1.53 L0.87,7.5 L6.84,13.47 C6.94177606,13.553964 6.9767474,13.6945675 6.92616433,13.8164267 C6.87558126,13.9382859 6.75131896,14.0127924 6.62,14 M10.64,14 C10.5594006,13.9962631 10.4837041,13.9602171 10.43,13.9 L4.02,7.5 L10.42,1.1 C10.3929483,0.962072751 10.4652843,0.823854491 10.5940314,0.767463855 C10.7227785,0.711073219 10.8734169,0.751629726 10.956449,0.865037826 C11.039481,0.978445926 11.032644,1.13429851 10.94,1.24 C10.9711781,1.34709625 10.9403642,1.46264835 10.86,1.54 L4.9,7.5 L10.86,13.47 C10.9617761,13.553964 10.9967474,13.6945675 10.9461643,13.8164267 C10.8955813,13.9382859 10.771319,14.0127924 10.64,14"></path>
      </g>
    </g>
  </svg>
</template>
