<template>
  <svg width="10px" height="7px" viewBox="0 0 10 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Path</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
      <g id="3-Карты-|-Выбрана-1-карта" transform="translate(-109.000000, -254.000000)">
        <g id="Atoms/Checkbox/True" transform="translate(105.000000, 249.000000)">
          <polygon id="Path" points="7.71428571 11.8285714 4.5 8.73791209 5.4 7.87252747 7.71428571 10.0978022 12.6 5.4 13.5 6.26538462"></polygon>
        </g>
      </g>
    </g>
  </svg>

</template>
