<template>
  <svg width="23px" height="27px" viewBox="0 0 23 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Голосование-список" transform="translate(-420.000000, -494.000000)" fill-rule="nonzero">
        <g id="Group-6-Copy" transform="translate(420.000000, 494.000000)">
          <g id="icons8-thumbs-down-copy" transform="translate(11.500000, 13.500000) scale(1, -1) translate(-11.500000, -13.500000) ">
            <path d="M5.91428571,0 C2.66450926,0 0,2.66450926 0,5.91428571 L0,12.0955357 C0,13.3405132 0.374777114,14.5367189 1.10892857,15.5660714 L8.44017857,25.6285714 C8.45558069,25.6542414 8.4838168,25.6645093 8.50178571,25.6901786 C8.99720966,26.4654021 9.74162963,26.9428571 10.5142857,26.9428571 C11.0738843,26.9428571 11.6899557,26.7195311 12.21875,26.2241071 C12.747545,25.7286832 13.1428571,24.9380582 13.1428571,23.9241071 C13.1428571,23.1873882 12.8861607,22.7818082 12.7116071,22.2607143 C12.5139511,21.70625 11.8696429,20.2302454 11.2535714,18.83125 C10.8505582,17.9174107 10.6914061,17.5760046 10.4732143,17.0857143 C11.6976561,17.0857143 16.6262275,17.0831475 18.6669643,17.0241071 C18.6746653,17.0241071 18.6797989,17.0241071 18.6875,17.0241071 C20.4715403,17.0138393 21.6857143,15.8047989 21.6857143,14.51875 C21.6857143,13.9180807 21.5779021,13.4200893 21.5214286,13.08125 C22.065625,12.7963168 23,12.1930807 23,10.7196429 C23,9.73649537 22.5456475,9.08705357 22.0964286,8.64553571 C22.5456475,8.24508929 23,7.63158466 23,6.69464286 C23,5.20580357 22.0579239,4.55379497 21.41875,4.20982143 C21.5547989,3.85814749 21.6857143,3.39609391 21.6857143,2.83392857 C21.6857143,2.1536832 21.3443082,1.48627249 20.7821429,0.944642857 C20.2199775,0.403013229 19.3959821,0 18.4,0 L5.91428571,0 Z M5.91428571,1.31428571 L18.4,1.31428571 C19.046875,1.31428571 19.5371653,1.56071429 19.8785714,1.88928571 C20.2199775,2.21785714 20.3714286,2.659375 20.3714286,2.83392857 C20.3714286,3.61428571 20.0223214,4.08660714 20.0223214,4.08660714 C19.8991071,4.25345966 19.86317,4.46908466 19.9247771,4.6667414 C19.9838168,4.86439749 20.1352679,5.02354894 20.3303571,5.09285714 C20.3303571,5.09285714 21.6857143,5.61138426 21.6857143,6.69464286 C21.6857143,7.65725463 20.7821429,7.98839286 20.7821429,7.98839286 C20.5434153,8.08337037 20.3842632,8.30926323 20.3714286,8.56339286 C20.3585939,8.82008929 20.4946429,9.0588168 20.7205357,9.17946429 C20.7205357,9.17946429 21.6857143,9.75703109 21.6857143,10.7196429 C21.6857143,11.7926343 20.6178571,12.1366071 20.6178571,12.1366071 C20.3200893,12.2418525 20.1378347,12.5421878 20.1866071,12.8553571 C20.1866071,12.8553571 20.3714286,13.9925225 20.3714286,14.51875 C20.3714286,14.9345985 19.8914061,15.7098214 18.6669643,15.7098214 C18.6592632,15.7098214 18.6541296,15.7098214 18.6464286,15.7098214 C16.4516739,15.7739954 9.46696429,15.7714286 9.46696429,15.7714286 C9.24620569,15.7739954 9.04084854,15.8869418 8.92020106,16.0717632 C8.79955357,16.2591521 8.78158466,16.4927454 8.87142857,16.6955357 C8.87142857,16.6955357 9.44642857,17.9713168 10.0625,19.3651786 C10.6785714,20.7590403 11.3485489,22.3248882 11.4794643,22.6919643 L11.4589286,22.6919643 C11.6796878,23.3516739 11.8285714,23.4774557 11.8285714,23.9241071 C11.8285714,24.6171878 11.5924107,24.9996653 11.3151786,25.2589286 C11.0379464,25.5181918 10.6760046,25.6285714 10.5142857,25.6285714 C10.2627235,25.6285714 9.86484391,25.4617189 9.56964286,24.9714286 C9.5568082,24.9508929 9.54397354,24.9303571 9.52857143,24.9098214 L2.17678571,14.80625 C2.17421891,14.8011164 2.17935251,14.7908485 2.17678571,14.7857143 C1.60435251,13.9771204 1.31428571,13.0786832 1.31428571,12.0955357 L1.31428571,5.91428571 C1.31428571,3.3806918 3.3806918,1.31428571 5.91428571,1.31428571 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<style lang="scss">
  svg {
    &.vote-footer__icon {
      &_for {
        margin-right: 10px;
        g {
          fill: #2b7ae6;
        }
      }
      &_against {
        transform: scale(1, -1) translateY(-3px);
        margin-right: 10px;
        g {
          fill: #D62529;
        }
      }
    }
  }

  .vote__btn {
    &_against {
      svg {
        transform: scale(1, -1);
      }
    }
    svg {
      g {
        fill: #fff;
      }
    }
  }

  .modal_vote-for,
  .modal_vote-against {
    svg {
      width: 18px;
      height: 21px;
      g {
        fill: #fff;
      }
    }
  }
  .modal_vote-against {
    svg {
      transform: scale(1, -1);
    }
  }
</style>
