<template>
  <svg width="20px" height="20px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Было-стало" transform="translate(-883.000000, -346.000000)" fill="#9B9B9B" fill-rule="nonzero">
              <g id="Group-4" transform="translate(883.000000, 346.000000)">
                  <path d="M0,15 C0,6.71572849 6.71572849,0 15,0 C23.2842715,0 30,6.71572849 30,15 C30,23.2842715 23.2842715,30 15,30 C6.71572849,30 0,23.2842715 0,15 Z M15,29.4 C22.9529006,29.4 29.4,22.9529006 29.4,15 C29.4,7.04709942 22.9529006,0.6 15,0.6 C7.04709942,0.6 0.6,7.04709942 0.6,15 C0.6,22.9529006 7.04709942,29.4 15,29.4 Z" id="Shape"></path>
                  <polygon id="path3001" points="21.1364272 18.2561983 17.6803817 9.04347107 17.5623588 9.04338773 15.0598289 14.1239661 15.0598289 14.1239661 12.4672365 9 12.4672365 9 8.91737881 18.2561983 8 18.2561983 8 19 13.0256411 19 13.0256411 18.2561983 12.02849 18.2561983 13.0256411 15.3636364 15.0598289 19 15.0598289 19 17.014245 15.3636364 18.0113961 18.2561983 17.014245 18.2561983 17.014245 19 22 19 22 18.2561983"></polygon>
              </g>
          </g>
      </g>
  </svg>
</template>
