<template>
  <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill="#808080" fill-rule="nonzero">
        <circle cx="11.5" cy="11.5" r="11.5"></circle>
      </g>
    </g>
  </svg>
</template>
