<template>
  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill="#9B9B9B" fill-rule="nonzero">
        <path d="M0,10 C0,4.47715233 4.47715233,0 10,0 C15.5228477,0 20,4.47715233 20,10 C20,15.5228477 15.5228477,20 10,20 C4.47715233,20 0,15.5228477 0,10 Z M10,19.6 C15.3019337,19.6 19.6,15.3019337 19.6,10 C19.6,4.69806628 15.3019337,0.4 10,0.4 C4.69806628,0.4 0.4,4.69806628 0.4,10 C0.4,15.3019337 4.69806628,19.6 10,19.6 Z"></path>
        <g transform="translate(5.333333, 6.666667)" stroke="#979797" stroke-width="0.3">
          <path d="M0.322265625,3.36816406 C0.322265625,2.97428188 0.374782461,2.60905116 0.479817708,2.27246094 C0.584852956,1.93587071 0.742403464,1.6440442 0.952473958,1.39697266 C1.16254445,1.14990111 1.4263222,0.955946885 1.7438151,0.815104167 C2.06130801,0.674261449 2.43131299,0.603841146 2.85384115,0.603841146 C3.24294899,0.603841146 3.59385694,0.674261449 3.90657552,0.815104167 C4.2192941,0.955946885 4.48486219,1.14990111 4.70328776,1.39697266 C4.92171333,1.6440442 5.08940914,1.93587071 5.20638021,2.27246094 C5.32335128,2.60905116 5.38183594,2.97428188 5.38183594,3.36816406 C5.38183594,3.75965908 5.32335128,4.12429302 5.20638021,4.46207682 C5.08940914,4.79986063 4.92171333,5.09228392 4.70328776,5.33935547 C4.48486219,5.58642702 4.2192941,5.78038124 3.90657552,5.92122396 C3.59385694,6.06206668 3.24294899,6.13248698 2.85384115,6.13248698 C2.43131299,6.13248698 2.06130801,6.06206668 1.7438151,5.92122396 C1.4263222,5.78038124 1.16254445,5.58642702 0.952473958,5.33935547 C0.742403464,5.09228392 0.584852956,4.79986063 0.479817708,4.46207682 C0.374782461,4.12429302 0.322265625,3.75965908 0.322265625,3.36816406 Z M2.85384115,5.18001302 C3.07823463,5.18001302 3.27875346,5.13465757 3.45540365,5.04394531 C3.63205383,4.95323305 3.78184617,4.827312 3.90478516,4.66617839 C4.02772414,4.50504477 4.12141895,4.31407445 4.1858724,4.09326172 C4.25032584,3.87244898 4.28255208,3.63075218 4.28255208,3.36816406 C4.28255208,3.10557594 4.25032584,2.86387914 4.1858724,2.64306641 C4.12141895,2.42225367 4.02772414,2.23128336 3.90478516,2.07014974 C3.78184617,1.90901612 3.63205383,1.78309507 3.45540365,1.69238281 C3.27875346,1.60167055 3.07823463,1.5563151 2.85384115,1.5563151 C2.62944766,1.5563151 2.42892883,1.60167055 2.25227865,1.69238281 C2.07562846,1.78309507 1.92583612,1.90901612 1.80289714,2.07014974 C1.67995815,2.23128336 1.58566656,2.42225367 1.52001953,2.64306641 C1.4543725,2.86387914 1.42154948,3.10557594 1.42154948,3.36816406 C1.42154948,3.63075218 1.4543725,3.87244898 1.52001953,4.09326172 C1.58566656,4.31407445 1.67995815,4.50504477 1.80289714,4.66617839 C1.92583612,4.827312 2.07562846,4.95323305 2.25227865,5.04394531 C2.42892883,5.13465757 2.62944766,5.18001302 2.85384115,5.18001302 Z M7.03255208,2.92057292 L5.85091146,2.92057292 L5.85091146,2.09700521 L9.22395833,2.09700521 L9.22395833,2.92057292 L8.04231771,2.92057292 L8.04231771,6 L7.03255208,6 L7.03255208,2.92057292 Z"></path>
        </g>
      </g>
    </g>
  </svg>
</template>
