<template>
  <svg width="20px" height="20px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Было-стало" transform="translate(-883.000000, -538.000000)" fill="#9B9B9B" fill-rule="nonzero">
              <g id="Group-7" transform="translate(883.000000, 538.000000)">
                  <path d="M0,15 C0,6.71572849 6.71572849,0 15,0 C23.2842715,0 30,6.71572849 30,15 C30,23.2842715 23.2842715,30 15,30 C6.71572849,30 0,23.2842715 0,15 Z M15,29.4 C22.9529006,29.4 29.4,22.9529006 29.4,15 C29.4,7.04709942 22.9529006,0.6 15,0.6 C7.04709942,0.6 0.6,7.04709942 0.6,15 C0.6,22.9529006 7.04709942,29.4 15,29.4 Z" id="Shape-Copy-3"></path>
                  <path d="M15,7 C10.582,7 7,10.582 7,15 C7,19.418 10.582,23 15,23 C19.418,23 23,19.418 23,15 C23,10.582 19.418,7 15,7 Z M15.6666667,15.6666667 L10.33,15.6666667 C9.96333333,15.6666667 9.66666667,15.37 9.66666667,15.0033333 L9.66666667,14.996 C9.66666667,14.63 9.96333333,14.3333333 10.33,14.3333333 L14.3333333,14.3333333 L14.3333333,8.99666667 C14.3333333,8.63 14.63,8.33333333 14.9966667,8.33333333 L15.004,8.33333333 C15.37,8.33333333 15.6666667,8.63 15.6666667,8.99666667 L15.6666667,15.6666667 Z" id="Shape"></path>
              </g>
          </g>
      </g>
  </svg>
</template>
