<template>
  <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55 (78076) - https://sketchapp.com -->
    <title>icons8-timer</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Cписок-предложений" transform="translate(-100.000000, -495.000000)" fill="#000000" fill-rule="nonzero">
        <g id="Group-11" transform="translate(100.000000, 495.000000)">
          <g id="icons8-timer">
            <path d="M14.3478261,0 L14.3478261,5.86956522 C14.3444998,6.10476255 14.4680708,6.32353132 14.6712214,6.44210069 C14.874372,6.56067005 15.125628,6.56067005 15.3287786,6.44210069 C15.5319292,6.32353132 15.6555002,6.10476255 15.6521739,5.86956522 L15.6521739,1.36931048 C22.9139765,1.71607363 28.6956522,7.65191804 28.6956522,15 C28.6956522,22.572152 22.572152,28.6956522 15,28.6956522 C7.42784804,28.6956522 1.30434783,22.572152 1.30434783,15 C1.30434783,11.3875011 2.69944063,8.10923413 4.98046878,5.66193978 C5.14585765,5.4926336 5.20655079,5.24701815 5.13905549,5.0201648 C5.07156018,4.79331145 4.88646947,4.62082367 4.65542715,4.569467 C4.42438483,4.51811034 4.18365183,4.59594495 4.02640963,4.77284309 C1.52961163,7.45163543 0,11.0511946 0,15 C0,23.2769785 6.72302152,30 15,30 C23.2769785,30 30,23.2769785 30,15 C30,6.72364435 23.2770143,0 15,0 L14.3478261,0 Z M7.82608696,7.82608696 C7.82608696,7.82608696 12.85233,15.6189743 13.6166778,16.3833222 C14.3810257,17.14767 15.6196265,17.1470178 16.3833222,16.3833222 C17.14767,15.6196265 17.14767,14.3810257 16.3833222,13.6166778 C15.6189743,12.85233 7.82608696,7.82608696 7.82608696,7.82608696 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
