<template>
  <div class="editor-info">

    <!--    createUserStop-->
    <div v-if="data.item.layer.newUserStop">
      <div class="editor-info__header">
        Создание новой остановки
      </div>
      <div class="editor-info-stops">
        <div class="editor-info-box">
          <div class="editor-info-box__title">Название остановки</div>
          <input type="text" class="editor-info-box__input" v-model="stopName">
        </div>
        <div class="editor-info-box">
          <div class="editor-info-box__title">Номер остановки в маршруте</div>
          <input type="text" v-model="stopNumber" class="editor-info-box__input">
        </div>
        <div class="editor-info__buttons">
          <button
            class="editor-info__btn"
            @click="cancel"
          >
            Отменить
          </button>
          <button
            :disabled="!stopName.length"
            class="editor-info__btn editor-info__btn_primary"
            @click="addNewUserStop"
          >
            Создать
          </button>
        </div>
      </div>
    </div>

    <!--    addUserStop-->
    <div v-if="data.item.layer.addUserStop">
      <div class="editor-info__header">
        Остановка {{data.item.properties.name}}
      </div>
      <div
        class="editor-info-stops"
      >
        <div class="editor-info-box">
          <div class="editor-info-box__title">Номер остановки в маршруте</div>
          <input type="text" v-model="stopNumber" class="editor-info-box__input">
        </div>
        <div class="editor-info__buttons">
          <button
            class="editor-info__btn"
            @click="hidePopup"
          >
            Отменить
          </button>
          <button
            class="editor-info__btn"
            @click="deleteUserStop"
          >
            Удалить
          </button>
          <button
            v-if="stopNumber"
            class="editor-info__btn editor-info__btn_primary"
            @click="addUserStop"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>


    <!--    editUserStop-->
    <div v-if="data.item.layer.userStop">
      <div class="editor-info__header">
        <span>{{(editorData.stopsList[data.item.properties.routeName].stops[data.item.properties.ind] &&
        editorData.stopsList[data.item.properties.routeName].stops[data.item.properties.ind].text) || 'Остановка'}}</span>
      </div>
      <div class="editor-info-stops">
        <div v-if="data.item.properties.enabled" class="editor-info-box">
          Направление маршрута:
          <span v-if="data.item.properties.routeName === 'mainRoute'">прямой</span>
          <span v-if="data.item.properties.routeName === 'backRoute'">обратный</span>
        </div>
        <div v-if="data.item.properties.enabled" class="editor-info-box">
          <div class="editor-info-box__title">Название остановки</div>
          <input type="text" v-model="stopName" class="editor-info-box__input">
        </div>
        <div class="editor-info-box">
          <div class="editor-info-box__title">Номер остановки в маршруте</div>
          <input type="text" v-model="stopNumber" class="editor-info-box__input">
        </div>

        <div class="editor-info__buttons">
          <button
            class="editor-info__btn"
            @click="cancel"
          >
            Отменить
          </button>
          <button
            class="editor-info__btn"
            v-if="stopName && +stopNumber === data.item.properties.ind + 1"
            @click="excludeUserStop"
          >
            Исключить из маршрута
          </button>
          <button
            v-if="stopName && stopNumber && stopNumber <= editorData.stopsList[this.editorData.activeRoute].stops.filter(i => i).length"
            class="editor-info__btn editor-info__btn_primary"
            @click="updateUserStop"
          >
            Сохранить
          </button>
          <button
            v-if="stopNumber && addUserStopValid"
            class="editor-info__btn editor-info__btn_primary"
            @click="addUserStop"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>

    <!--    addMasterStop-->
    <div v-if="data.item.layer.userMasterStop">
      <div class="editor-info__header">
        Остановка {{data.item.properties.name}}
      </div>
      <div
        class="editor-info-stops"
      >
        <div
          class="editor-info-stops__routes"
          v-for="(route, i) in data.stops"
          :key="i"
        ><b>{{route.type}}:</b> {{route.items.join(', ')}}
        </div>
        <div class="editor-info-box" v-if="!activeRouteMasterStopsIds.includes(data.item.id)">
          <div class="editor-info-box__title">Номер остановки в маршруте</div>
          <input type="text" v-model="stopNumber" class="editor-info-box__input">
        </div>
        <div class="editor-info__buttons">
          <button
            class="editor-info__btn"
            @click="hidePopup"
          >
            Отменить
          </button>
          <button
            v-if="stopNumber"
            class="editor-info__btn editor-info__btn_primary"
            @click="addMasterStop"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>

    <!--    allStopHover-->
    <div v-if="data.item.layer.allStopHover">
      <div class="editor-info__header">
        Остановка {{data.item.properties.name}}
      </div>
      <div
        class="editor-info-stops"
      >
        <div class="editor-info-box">
          <span class="editor-info-box__title">{{data.item.properties.fullname}}</span>
        </div>
        <div class="editor-info-box" v-if="hoverDirection">
          <span class="editor-info-box__title">Направление маршрута:</span>
          <span class="editor-info-box__value">{{hoverDirection}}</span>
        </div>
        <div class="editor-info-box" v-if="hoverSequenceID">
          <span class="editor-info-box__title">Номер(а) остановки в маршруте:</span>
          <span class="editor-info-box__value">{{hoverSequenceID}}</span>
        </div>
        <div class="editor-info-box" v-if="routes && data.item.properties.stopType !== 'user'">
          <span class="editor-info-box__title">Маршруты:</span>
          <span class="editor-info-box__value">{{routes}}</span>
        </div>
      </div>
    </div>

    <!--    telematicsHover-->
    <div v-if="data.item.layer.telematicsHover">
      <div class="editor-info__header">
        № ГРЗ {{data.item.properties.licensePlate}}
      </div>
      <div class="editor-info-stops">
        <div class="editor-info-box">
          <span class="editor-info-box__title">Перевозчик:</span>
          <span class="editor-info-box__value">{{data.item.properties.company}}</span>
        </div>
        <div class="editor-info-box">
          <span class="editor-info-box__title">Cкорость:</span>
          <span class="editor-info-box__value">{{data.item.properties.velocity}} км/ч</span>
        </div>
        <div class="editor-info-box">
          <span class="editor-info-box__title">Дата / время:</span>
          <span class="editor-info-box__value">{{format_date(data.item.properties.timestamp)}}</span>
        </div>
      </div>
    </div>

    <!--    editMasterStop-->
    <div v-if="data.item.layer.masterStop">
      <div class="editor-info__header">
        {{(editorData.stopsList[data.item.properties.routeName].stops[data.item.properties.ind] &&
        editorData.stopsList[data.item.properties.routeName].stops[data.item.properties.ind].text) || 'Остановка'}}
      </div>
      <div class="editor-info-stops">
        <div class="editor-info-box">
          <span class="editor-info-box__title">Направление маршрута:</span>
          <span class="editor-info-box__value" v-if="data.item.properties.routeName === 'mainRoute'">прямой</span>
          <span class="editor-info-box__value" v-if="data.item.properties.routeName === 'backRoute'">обратный</span>
        </div>
        <div class="editor-info-box">
          <div class="editor-info-box__title">Номер остановки в маршруте</div>
          <input type="text" v-model="stopNumber" class="editor-info-box__input">
        </div>
        <div class="editor-info__buttons">
          <button
            class="editor-info__btn"
            @click="cancel"
          >
            Отменить
          </button>
          <button
            class="editor-info__btn"
            @click="deleteMasterStop"
            v-if="+stopNumber === data.item.properties.ind + 1"
          >
            Исключить из маршрута
          </button>
          <button
            v-if="stopNumber && +stopNumber !== data.item.properties.ind + 1 && stopNumber <= editorData.stopsList[this.editorData.activeRoute].stops.filter(i => i).length"
            class="editor-info__btn editor-info__btn_primary"
            @click="updateMasterStop"
          >
            Сохранить
          </button>
          <button
            class="editor-info__btn editor-info__btn_primary"
            @click="addMasterStop"
            v-if="stopNumber && addMasterStopValid"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import editorData from '~/components/map/layers/editor';
  import connection from '~/assets/js/connection';
  import moment from 'moment';

  export default {
    data() {
      return {
        stopNumber: 1,
        stopName: '',
        editorData,
        routes: null,
        hoverDirection: null,
        hoverSequenceID: null,
      }
    },
    props: ['data'],
    mounted() {
      // createUserStop
      if (this.data.item.layer.newUserStop) { // createUserStop
        setTimeout(() => {
          const stop = this.editorData.stopsList[editorData.activeRoute].stops[this.data.item.ind];
          if (stop && stop.text) {
            this.stopName = stop.text;
          }
        });
        this.stopNumber = this.data.item.ind + 1;
        this.stopName =  `Остановка ${this.stopNumber}`;
      }

      // addUserStop
      if (this.data.item.layer.addUserStop) {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (this.editorData.stopsList[this.editorData.activeRoute].stops.length > 0) {
          if (this.newIndex !== -1) {
            this.stopNumber = this.newIndex + 1;
          } else {
            this.stopNumber = stops[stops.length - 1] ? stops.length + 1 : stops.length;
          }
        } else {
          this.stopNumber = 1;
        }
      }

      // editUserStop
      if (this.data.item.layer.userStop) {
        this.stopName = this.data.item.properties.name;
        if (this.newIndex !== -1) {
          this.stopNumber = this.newIndex + 1;
        } else {
          this.stopNumber = this.data.item.properties.ind + 1;
        }
      }

      // addMasterStop
      if (this.data.item.layer.userMasterStop) {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (stops.length > 0) {
          const newIndex = stops.findIndex(s => s === undefined);
          if (newIndex !== -1) {
            this.stopNumber = newIndex + 1;
          } else {
            this.stopNumber = stops[stops.length - 1] ? stops.length + 1 : stops.length;
          }
        } else {
          this.stopNumber = 1;
        }
      }

      // editMasterStop
      if (this.data.item.layer.masterStop) {
        if (this.newIndex !== -1) {
          this.stopNumber = this.newIndex + 1;
        } else {
          this.stopNumber = this.data.item.properties.ind + 1;
        }
      }

      if (this.data.item.layer.allStopHover) {
        if (this.data.item.properties.dir === undefined) {
          const id = this.data.item.properties.id;
          const mainRouteStops = this.editorData.stopsList.mainRoute.stops.filter(s => s && (s.id === id || s.value === id));
          const backRouteStops = this.editorData.stopsList.backRoute.stops.filter(s => s && (s.id === id || s.value === id));
          if (mainRouteStops.length && backRouteStops.length) {
            this.hoverDirection = this.editorData.activeRoute === 'mainRoute' ? 'прямой' : 'обратный';
            this.hoverSequenceID = (this.editorData.activeRoute === 'mainRoute' ? mainRouteStops : backRouteStops).map(s => s.sequenceID).join(', ');
          } else {
            if (this.data.item.properties.routeName === 'mainRoute' || mainRouteStops.length) {
              this.hoverDirection = 'прямой';
              this.hoverSequenceID = mainRouteStops.map(s => s.sequenceID).join(', ');
            }
            if (this.data.item.properties.routeName === 'backRoute' || backRouteStops.length) {
              this.hoverDirection = 'обратный';
              this.hoverSequenceID = backRouteStops.map(s => s.sequenceID).join(', ');
            }
          }
        }
        else {
          this.hoverDirection = this.data.item.properties.dir === 0 ? 'прямой' : 'обратный';
          this.hoverSequenceID = this.data.item.properties.sequenceID;
        }
        this.routes = "...";
        this.setRoutes();
      }
    },
    methods: {
      format_date(value) {
        return moment(String(value)).format('DD-MM-YYYY / HH:mm:ss');
      },
      setRoutes() {
        const axios = require('axios').default;
        let stopID;
        if (this.data.item.properties.id && $nuxt.$store.state.ngpt.stopsById[this.data.item.properties.id]) {
          stopID = $nuxt.$store.state.ngpt.stopsById[this.data.item.properties.id].properties.stopID;
        } else {
          stopID = this.data.item.properties.stopID;
        }
        if (!stopID) {
          this.routes = null;
          return;
        }
        const routesByGUID = $nuxt.$store.state.ngpt.routesByGUID;
        const vm = this;
        axios.get(
          `${connection.getAddress()}/moscow/ngpt/stops/infoByStopID/${stopID}`,
          // {
          //   headers: {
          //     Authorization: `Bearer ${localStorage.getItem('token')}`
          //   },
          // }
        )
        .then(({data}) => {
          const routes = []
          data.data.forEach((route, index) => {
            if (routes.indexOf(routesByGUID[route.routeGUID].name) == -1) {
              routes.push(routesByGUID[route.routeGUID].name);
            }
          })
          vm.routes = routes.sort((a, b) => {
            const aNum = parseInt(a.replace(/\D/g, ''));
            const bNum = parseInt(b.replace(/\D/g, ''));
            return aNum > bNum;
          }).join(", ");
        })
      },
      addNewUserStop() {
        const stop = {
          enabled: true,
          type: 'user',
          text: this.stopName,
          coordinates: this.editorData.newUserStop.geometry.coordinates,
          id: this.newId()
        };
        this.editorData.stopsList[editorData.activeRoute].stops[this.data.item.ind] = stop;
        if (this.data.item.ind !== this.stopNumber - 1) {
          this.arrMove(this.editorData.stopsList[editorData.activeRoute].stops, this.stopNumber - 1, this.data.item.ind);
        }
        this.editorData.userStopsById[stop.id] = {
          ...stop,
          enabled: false,
        };
        this.editorData.stopsList[editorData.activeRoute].stops = [...this.editorData.stopsList[editorData.activeRoute].stops];

        this.hidePopup();
      },
      addUserStop() {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (stops.length > 0) {
          const last = stops.length - 1;
          const newStopID = this.data.item.properties.id;
          const lastStopID = stops[last] ? stops[last].id : null;
          if (newStopID === lastStopID) {
            this.hidePopup();
            return;
          }
        }
        const name = this.stopName.length ? this.stopName : this.data.item.properties.name;
        const stop = {
          enabled: true,
          type: 'user',
          text: name,
          coordinates: this.data.item.geometry.coordinates,
          id: this.data.item.properties.id
        };
        if (this.stopName !== this.data.item.properties.name) {
          this.editorData.stopsList.mainRoute.stops.forEach(s => {
            if (s && (s.id === stop.id)) {
              s.text = name;
            }
          });
          this.editorData.stopsList.backRoute.stops.forEach(s => {
            if (s && (s.id === stop.id)) {
              s.text = name;
            }
          });
        }
        if (this.newIndex !== -1 && this.newIndex < +this.stopNumber) {
          this.stopNumber = +this.stopNumber + 1;
        }
        if (!stops[this.stopNumber - 1]) {
          stops[this.stopNumber - 1] = stop;
        } else {
          stops.splice(this.stopNumber - 1, 0, stop);
        }
        this.editorData.userStopsById[stop.id] = {
          ...stop,
          enabled: false,
        };
        this.editorData.stopsList[editorData.activeRoute].stops = this.editorData.stopsList[editorData.activeRoute].stops.filter(s => s);
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      updateUserStop() {
        let stop = {...this.editorData.stopsList[this.data.item.properties.routeName].stops[this.data.item.properties.ind]};
        stop.text = this.stopName;
        this.editorData.stopsList.mainRoute.stops.forEach(s => {
          if (s && (s.id === stop.id)) {
            s.text = this.stopName;
          }
        });
        this.editorData.stopsList.backRoute.stops.forEach(s => {
          if (s && (s.id === stop.id)) {
            s.text = this.stopName;
          }
        });
        this.editorData.userStopsById[stop.id].text = this.stopName;

        const copy = [...this.editorData.stopsList[editorData.activeRoute].stops];
        copy[this.data.item.properties.ind] = stop;
        if (this.data.item.properties.ind !== this.stopNumber - 1) {
          this.arrMove(copy, this.stopNumber - 1, this.data.item.properties.ind);
          const prev = {...copy[this.stopNumber - 2]};
          const curr = {...copy[this.stopNumber - 1]};
          const next = {...copy[this.stopNumber]};
          if (prev) {
            if (prev.value === curr.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return;
            }
          }
          if (next) {
            if (next.value === curr.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return;
            }
          }
        }

        this.editorData.stopsList[this.data.item.properties.routeName].stops[this.data.item.properties.ind] = stop;
        if (this.data.item.properties.ind !== this.stopNumber - 1) {
          this.arrMove(this.editorData.stopsList[editorData.activeRoute].stops, this.stopNumber - 1, this.data.item.properties.ind);
        }
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      excludeUserStop() {
        this.editorData.stopsList[this.data.item.properties.routeName].stops.splice(this.data.item.properties.ind, 1)
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      deleteUserStop() {
        this.editorData.stopsList.mainRoute.stops.forEach((s, i) => {
          if (s.id === this.data.item.properties.id) {
            this.editorData.stopsList.mainRoute.stops.splice(i, 1);
          }
        });
        this.editorData.stopsList.backRoute.stops.forEach((s, i) => {
          if (s.id === this.data.item.properties.id) {
            this.editorData.stopsList.backRoute.stops.splice(i, 1);
          }
        });
        delete this.editorData.userStopsById[this.data.item.id];
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      addMasterStop() {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (stops.length > 0) {
          let last = stops.length - 1;
          const lastValue = this.data.item.id ? this.data.item.id : this.data.item.properties.id
          const newValue = stops[last] ? stops[last].value : null;
          if (lastValue === newValue) {
            this.hidePopup();
            return;
          }
        }
        const stop = {
          type: 'master',
          text: this.data.item.properties.name,
          value: this.data.item.id ? this.data.item.id : this.data.item.properties.id
        };
        if (this.newIndex !== -1 && this.newIndex < +this.stopNumber) {
          this.stopNumber = +this.stopNumber + 1;
        }
        if (!stops[this.stopNumber - 1]) {
          stops[this.stopNumber - 1] = stop;
        } else {
          stops.splice(this.stopNumber - 1, 0, stop);
        }
        this.editorData.stopsList[editorData.activeRoute].stops = this.editorData.stopsList[editorData.activeRoute].stops.filter(s => s);
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      updateMasterStop() {
        const copy = [...this.editorData.stopsList[editorData.activeRoute].stops];
        if (this.data.item.properties.ind !== this.stopNumber - 1) {
          this.arrMove(copy, this.stopNumber - 1, this.data.item.properties.ind);
          const prev = {...copy[this.stopNumber - 2]};
          const curr = {...copy[this.stopNumber - 1]};
          const next = {...copy[this.stopNumber]};
          if (prev) {
            if (prev.value === curr.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает с предыдущей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return;
            }
          }
          if (next) {
            if (next.value === curr.value) {
              this.$snotify.error(
                'Нельзя добавлять одну и туже остановку подряд! Новая остановка совпадает со следующей.',
                {
                  position: 'centerTop',
                  timeout: 5000,
                  showProgressBar: false,
                }
              );
              return;
            }
          }
        }
        if (this.data.item.properties.ind !== this.stopNumber - 1) {
          this.arrMove(this.editorData.stopsList[editorData.activeRoute].stops, this.stopNumber - 1, this.data.item.properties.ind);
        }
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      deleteMasterStop() {
        this.editorData.stopsList[this.data.item.properties.routeName].stops.splice(this.data.item.properties.ind, 1)
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      newId() {
        if (!this.startId) {
          this.startId = +new Date();
        }
        return this.startId++;
      },
      arrMove(arr, toInd, fromInd) {
        arr.splice((toInd < 0 ? arr.length + toInd : toInd), 0, arr.splice(fromInd, 1)[0]);
      },
      cancel() {
        this.hidePopup();
      },
      hidePopup() {
        this.$bus.$emit('hideInfoModal');
      },
    },
    computed: {
      editor() {
        return $nuxt.$store.state.editor.data;
      },
      activeRouteMasterStopsIds() {
        const ids = [];
        this.editorData.stopsList[this.editorData.activeRoute].stops.forEach(stop => {
          if (stop && stop.value) {
            ids.push(stop.value);
          }
        });
        return ids;
      },
      addMasterStopValid() {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (stops[+this.stopNumber] && stops[+this.stopNumber].value === this.data.item.properties.id) {
          return;
        }
        if (stops[+this.stopNumber - 1] && stops[+this.stopNumber - 1].value === this.data.item.properties.id) {
          return;
        }
        if (stops[+this.stopNumber - 2] && stops[+this.stopNumber - 2].value === this.data.item.properties.id) {
          return;
        }
        return true;
      },
      addUserStopValid() {
        const stops = this.editorData.stopsList[this.editorData.activeRoute].stops;
        if (stops[+this.stopNumber] && stops[+this.stopNumber].id === this.data.item.properties.id) {
          return;
        }
        if (stops[+this.stopNumber - 1] && stops[+this.stopNumber - 1].id === this.data.item.properties.id) {
          return;
        }
        if (stops[+this.stopNumber - 2] && stops[+this.stopNumber - 2].id === this.data.item.properties.id) {
          return;
        }
        return true;
      },
      newIndex() {
        return this.editorData.stopsList[this.editorData.activeRoute].stops.findIndex(s => s === undefined);
      }
    },
    watch: {
      stopNumber(newVal, oldVal) {
        const filteredStops = this.editorData.stopsList[this.editorData.activeRoute].stops.filter(i => i);
        if (
          newVal.length && !/^[1-9]\d*$/.test(newVal)
          || newVal > filteredStops.length + 1
          || (this.data.item.layer.masterStop && +newVal === filteredStops.length + 1 && !this.addMasterStopValid)
          || (this.data.item.layer.userStop && +newVal === filteredStops.length + 1 && !this.addUserStopValid)
        ) {
          this.stopNumber = oldVal;
        }
      }
    }
  }
</script>
