<template>
  <div class="editor-info">
    <div class="editor-info__header">{{stopName}}</div>
    <div class="editor-info-stops">
      <div v-if="data.item.properties.routeName === editorData.activeRoute" class="editor-info-box">
        <span class="editor-info-box__title">Направление маршрута:</span>
        <span class="editor-info-box__value" v-if="data.item.properties.routeName === 'mainRoute'">прямой</span>
        <span class="editor-info-box__value" v-if="data.item.properties.routeName === 'backRoute'">обратный</span>
      </div>
      <div v-if="stop && (data.item.properties.stopType === 'user' || data.item.layer.newUserStop)" class="editor-info-box">
        <div class="editor-info-box__title">Название остановки</div>
        <input type="text" v-model="stop.text" class="editor-info-box__input">
      </div>
      <div v-if="stops.length" class="editor-info-box">
        <div class="editor-info-box__title">Номер(а) остановки в маршруте</div>
        <div class="editor-info-box__items">
          <div
            v-for="(stop, ind) in stopsList"
            :key="ind"
            v-if="stop && ((stop.id || stop.value) === id)"
            class="order-box"
            :style="{
              order: stop.initialSequenceID
            }"
          >
            <input :ref="`sequenceID-input-${ind}`" @input="onInput(ind, $event)" type="text" v-model="stop.sequenceID" class="editor-info-box__input">
            <button
              @click="addStop(ind)"
              v-if="stopsCount"
              class="order-box__add"
              v-tooltip="'Добавить остановку'"
            >
              <AddIcon2 class="order-box__add-icon"/>
            </button>
            <button
              @click="delStop(ind)"
              v-if="stopsCount"
              class="order-box__del"
              v-tooltip="'Удалить остановку'"
            >
              <CancelIcon2 class="order-box__del-icon"/>
            </button>
          </div>
        </div>
      </div>
      <div v-if="saveDisabled" class="editor-info__error-text">
        {{errorText}}
      </div>
      <div class="editor-info__buttons">
        <button
          class="editor-info__btn"
          @click="hidePopup"
        >
          Отменить
        </button>
        <button
          @click="delFromMap"
          v-if="data.item.properties.stopType === 'user'"
          class="editor-info__btn"
        >
          Удалить с карты
        </button>
        <button
          :disabled="saveDisabled"
          class="editor-info__btn editor-info__btn_primary"
          @click="save"
        >
          Сохранить
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import CancelIcon2 from '~/components/svg/CancelIcon2';
  import AddIcon2 from '~/components/svg/AddIcon2';
  import editorData from '~/components/map/layers/editor';

  export default {
    props: ['data', 'routeID'],
    components: {
      AddIcon2,
      CancelIcon2,
    },
    data() {
      return {
        editorData,
        stop: null,
        stopsList: [],
        stopName: '',
        id: null,
        saveDisabled: false,
        errorText: '',
        values: [],
      }
    },
    methods: {
      validate() {
        this.errorText = '';
        this.saveDisabled = false;
        const order = this.order();
        for (let i = 0; i < order.length; i++) {
          if (!/^[1-9]\d*$/.test(order[i])) {
            this.errorText = 'Не корректный номер остановки';
            return true;
          }
          if (order.find(n => +n === +order[i] + 1)) {
            this.errorText = 'Остановка не может быть включена в маршрута два раза подряд';
            return true;
          }
          order[i] = +order[i];
        }
        if (Math.max(...order) > this.stopsList.length) {
          this.errorText = `Номер остановки должен быть не более ${this.stopsList.length}`;
          return true;
        }
        if ((new Set(order)).size !== order.length) {
          this.errorText = 'Не должно быть остановок с одинаковым номером';
          return true;
        }
      },
      save() {
        if (this.validate()) {
          this.saveDisabled = true;
          return;
        }
        const skipSaveHistory = JSON.stringify(this.stopsList) === JSON.stringify(this.editorData.stopsList[this.editorData.activeRoute].stops);
        this.editorData.stopsList[this.editorData.activeRoute].stops = this.stopsList.map(stop => ({
          ...stop,
          text: (stop.value || stop.id) === this.id ? this.stop.text : stop.text,
        }));

        if (this.data.item.layer.newUserStop) {
          this.editorData.newUserStopCounter += 1;
          this.editorData.userStopsById[this.id] = {
            ...this.stop,
            enabled: false,
            coordinates: this.data.item.geometry.coordinates
          };
        }
        if (this.data.item.properties.stopType === 'user' ) {
          this.editorData.userStopsById[this.id].text = this.stop.text;
          this.editorData.stopsList.mainRoute.stops.forEach(s => {
            if (s && (s.id === this.id)) {
              s.text = this.stop.text;
            }
          });
          this.editorData.stopsList.backRoute.stops.forEach(s => {
            if (s && (s.id === this.id)) {
              s.text = this.stop.text;
            }
          });
        }
        this.editorData.newUserStop = null;
        this.$bus.$emit('addEditorStops', {
          skipSaveHistory,
          updateLines: this.routeID && !skipSaveHistory
        });
        this.editorData.focusedStop = null;
        this.hidePopup();
      },
      addStop() {
        this.stopsList.push(JSON.parse(JSON.stringify({
          ...this.stop,
          sequenceID: this.stopsList.length + 1,
          initialSequenceID: this.stopsList.length + 1,
        })));
      },
      delStop(ind) {
        this.stopsList.splice(ind, 1);
        this.updateSequenceID();
        this.validate();
      },
      delFromMap() {
        this.editorData.stopsList.mainRoute.stops = this.editorData.stopsList.mainRoute.stops.filter(stop => stop && (stop.id !== this.id));
        this.editorData.stopsList.backRoute.stops = this.editorData.stopsList.backRoute.stops.filter(stop => stop && (stop.id !== this.id));
        delete this.editorData.userStopsById[this.id];
        this.$bus.$emit('addEditorStops');
        this.hidePopup();
      },
      hidePopup() {
        this.$bus.$emit('hideInfoModal');
      },
      newId() {
        if (!this.startId) {
          this.startId = +new Date();
        }
        return `00000000-0000-0000-0000-${String(this.startId++).slice(1)}`;
      },
      onInput(prev, e) {
        const next = e.target.value - 1;
        if (!this.validate()) {
          this.sortStops(next, +prev);
          this.$nextTick(() => {
            if (this.$refs[`sequenceID-input-${next}`][0]) {
              this.$refs[`sequenceID-input-${next}`][0].focus();
            }
          });
        }

      },
      updateSequenceID() {
        this.stopsList.forEach((s, ind) => s.sequenceID = ind + 1);
      },
      sortStops(toInd, fromInd) {
        this.stopsList.splice((toInd < 0 ? this.stopsList.length + toInd : toInd), 0, this.stopsList.splice(fromInd, 1)[0]);
        this.updateSequenceID();
      },
      order() {
        const order = [];
        this.stopsList.forEach(s => {
          if (s && (s.id || s.value) === this.id) {
            order.push(s.sequenceID);
          }
        });
        return order;
      },
    },
    computed: {
      stops() {
        return this.stopsList.filter(s => s && (s.id || s.value) === this.id);
      },
      stopsCount() {
        return this.editorData.stopsList[this.editorData.activeRoute].stops.reduce((count, stop) => {
          if (stop && ((stop.id || stop.value) === this.id)) {
            count += 1;
          }
          return count;
        }, 0);
      },
    },
    mounted() {
      this.stopsList = JSON.parse(JSON.stringify(this.editorData.stopsList[this.editorData.activeRoute].stops.map((s, ind) => ({
        ...s,
        sequenceID: ind + 1,
        initialSequenceID: ind + 1,
      }))));
      const emptyStopIndex = this.stopsList.findIndex(s => !s.type);
      const count = this.editorData.newUserStopCounter + 1;
      this.id = this.data.item.properties.id;

      if (this.data.item.layer.newUserStop) {
        
        this.id = this.newId();
        this.stop = {
          enabled: true,
          id: this.id,
          text: 'Остановка ' + count,
          type: 'user',
          coordinates: this.data.item.geometry.coordinates
        };
      } else if (this.data.item.properties.stopType === 'user') {
        this.stop = {
          enabled: true,
          id: this.id,
          text: this.data.item.properties.name,
          type: 'user',
          coordinates: this.data.item.geometry.coordinates
        };
      } else {
        this.stop = {
          text: this.data.item.properties.name,
          type: 'master',
          value: this.id,
        }
      }
      this.stopName = this.stop.text;
      if (emptyStopIndex !== -1) {
        this.stopsList[emptyStopIndex] = {
          ...this.stop,
          sequenceID: emptyStopIndex + 1,
          initialSequenceID: emptyStopIndex + 1,
        }
      }
      if (!this.stops.length) {
        this.stopsList.push(JSON.parse(JSON.stringify({
          ...this.stop,
          sequenceID: this.stopsList.length + 1,
          initialSequenceID: this.stopsList.length + 1,
        })));
      }
    }
  }
</script>

<style lang="scss">
  .order-box {
    position: relative;

    input {
      padding-right: 40px;
    }

    &__add,
    &__del {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &__del {
      right: 0;
    }

    &__add {
      right: 17px;
    }

    &__add-icon {
      width: 17px;
      height: 16px;
    }

    &__del-icon {
      width: 10px;
      height: 10px;
    }
  }

  .editor-info {
    &__error-text {
      max-width: 212px;
      font-size: 12px;
      margin-bottom: 10px;
      margin-top: -5px;
    }
  }

  .editor-info-box {
    &__items {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
</style>
