<template>
  <svg viewBox="0 0 35 43" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.4959 43L15.4793 40.9469L27.8564 28.3517C30.5111 25.6511 32.1558 21.9216 32.1558 17.8105C32.1558 9.58575 25.5811 2.89499 17.4992 2.89499C9.41895 2.89499 2.84505 9.58575 2.84505 17.8105C2.84505 21.9133 4.48649 25.6473 7.1167 28.325C7.38118 28.595 7.5529 28.9651 7.5529 29.3719C7.5529 30.1693 6.91569 30.8181 6.13037 30.8181C5.73242 30.8181 5.37842 30.6572 5.11068 30.3855C1.95964 27.1801 0 22.7194 0 17.8105C0 7.9744 7.83529 0 17.4992 0C27.1647 0 35 7.9744 35 17.8105C35 22.7239 33.0428 27.1727 29.8812 30.3958L17.4959 43Z"></path>
    <path d="M29.8527 17.7384C29.8527 10.7677 24.2814 5.09546 17.4308 5.09546C10.5827 5.09546 5.00977 10.7677 5.00977 17.7384C5.00977 21.2163 6.41927 24.4008 8.63607 26.658C8.79639 26.8207 8.99414 26.9487 9.21549 27.0232C9.35547 27.0706 9.50521 27.0965 9.66064 27.0965C10.4476 27.0965 11.0848 26.4477 11.0848 25.6461C11.0848 25.2315 10.9131 24.8586 10.6396 24.5942C8.92334 22.833 7.85889 20.4103 7.85889 17.7384C7.85889 12.3667 12.1541 7.99622 17.4308 7.99622C22.7091 7.99622 27.0044 12.3667 27.0044 17.7384C27.0044 20.4234 25.9294 22.859 24.1976 24.6214L11.792 37.2491L13.807 39.2997L26.2264 26.658C28.4676 24.3691 29.8527 21.2163 29.8527 17.7384Z"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7062 17.6948C24.7062 13.5964 21.4274 10.2609 17.3966 10.2609C13.3675 10.2609 10.0887 13.5964 10.0887 17.6948C10.0887 21.7939 13.3675 25.1294 17.3966 25.1294C21.4274 25.1294 24.7062 21.7939 24.7062 17.6948ZM12.9411 17.6948C12.9411 15.1954 14.939 13.1604 17.3966 13.1604C19.8568 13.1604 21.8547 15.1954 21.8547 17.6948C21.8547 20.1958 19.8568 22.2295 17.3966 22.2295C14.939 22.2295 12.9411 20.1958 12.9411 17.6948Z"></path>
  </svg>
</template>
