<template>
  <div class="loader_all" style="z-index: 100;" v-if="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['loading']
  }
</script>
