@font-face {
  font-family: 'Moscow Sans';
  src: url(/fonts/MoscowSans-Light.e9c3bc52.eot);
  src: url(/fonts/MoscowSans-Light.e9c3bc52.eot?#iefix) format("embedded-opentype"), url(/fonts/MoscowSans-Light.0525a2ef.woff2) format("woff2"), url(/fonts/MoscowSans-Light.6d8215c0.woff) format("woff"), url(/fonts/MoscowSans-Light.449840ff.otf) format("opentype"), url(/fonts/MoscowSans-Light.bc2931f7.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Moscow Sans';
  src: url(/fonts/MoscowSans-Regular.a45d54f8.eot);
  src: url(/fonts/MoscowSans-Regular.a45d54f8.eot?#iefix) format("embedded-opentype"), url(/fonts/MoscowSans-Regular.8169323e.woff2) format("woff2"), url(/fonts/MoscowSans-Regular.a1d99b26.woff) format("woff"), url(/fonts/MoscowSans-Regular.5264b7c5.ttf) format("truetype"), url(/fonts/MoscowSans-Regular.c6fb6a72.otf) format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Moscow Sans';
  src: url(/fonts/MoscowSans-Medium.2827dead.eot);
  src: url(/fonts/MoscowSans-Medium.2827dead.eot?#iefix) format("embedded-opentype"), url(/fonts/MoscowSans-Medium.d90baed0.woff2) format("woff2"), url(/fonts/MoscowSans-Medium.34c0e2b4.woff) format("woff"), url(/fonts/MoscowSans-Medium.d33adc40.ttf) format("truetype"), url(/fonts/MoscowSans-Medium.fe57d383.otf) format("opentype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Moscow Sans';
  src: url(/fonts/MoscowSans-Bold.f1b22eb5.eot);
  src: url(/fonts/MoscowSans-Bold.f1b22eb5.eot?#iefix) format("embedded-opentype"), url(/fonts/MoscowSans-Bold.16600eea.woff2) format("woff2"), url(/fonts/MoscowSans-Bold.835e4532.woff) format("woff"), url(/fonts/MoscowSans-Bold.8a7cfc3e.otf) format("opentype"), url(/fonts/MoscowSans-Bold.74add057.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Moscow Sans';
  src: url(/fonts/MoscowSans-Extrabold.a6d45c89.eot);
  src: url(/fonts/MoscowSans-Extrabold.a6d45c89.eot?#iefix) format("embedded-opentype"), url(/fonts/MoscowSans-Extrabold.5aecc675.woff2) format("woff2"), url(/fonts/MoscowSans-Extrabold.18d77c8e.woff) format("woff"), url(/fonts/MoscowSans-Extrabold.ae33130d.otf) format("opentype"), url(/fonts/MoscowSans-Extrabold.1d92e2f6.ttf) format("truetype");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'icomoon';
  src: url(/fonts/icomoon.a9bfc517.eot);
  src: url(/fonts/icomoon.a9bfc517.eot#iefix) format('embedded-opentype'), url(/fonts/icomoon.d6eaeb3b.ttf) format('truetype'), url(/fonts/icomoon.94e0541f.woff) format('woff'), url(/images/icomoon.96f53528.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\E96B";
}

.icon-ico_facebook:before {
  content: "\E96D";
}

.icon-ico_odn:before {
  content: "\E96E";
}

.icon-ico_tw:before {
  content: "\E96F";
}

.icon-ico_vk:before {
  content: "\E970";
}

.icon-ico_youtube:before {
  content: "\E971";
}

.icon-galka:before {
  content: "\E96C";
  color: #092360;
}

.icon-minus_checkbox:before {
  content: "\E972";
  color: #092360;
}

.icon-luna:before {
  content: "\E973";
  color: #1f4694;
}

.icon-solnce .path1:before {
  content: "\E974";
  color: rgb(247, 205, 48);
}

.icon-solnce .path2:before {
  content: "\E975";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path3:before {
  content: "\E976";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path4:before {
  content: "\E977";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path5:before {
  content: "\E978";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path6:before {
  content: "\E979";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path7:before {
  content: "\E97A";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path8:before {
  content: "\E97B";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path9:before {
  content: "\E97C";
  margin-left: -1em;
  color: rgb(247, 205, 48);
}

.icon-solnce .path10:before {
  content: "\E97D";
  margin-left: -1em;
  color: rgb(229, 174, 68);
}

.icon-change-a-b:before {
  content: "\E97E";
  color: #666f78;
}

.icon-icons_apple-logo:before {
  content: "\E900";
}

.icon-icons_arrow-left:before {
  content: "\E901";
}

.icon-icons_arrow-right:before {
  content: "\E902";
}

.icon-icons_bike:before {
  content: "\E903";
}

.icon-icons_burger:before {
  content: "\E904";
}

.icon-icons_clock:before {
  content: "\E905";
}

.icon-icons_close:before {
  content: "\E906";
}

.icon-icons_external-link:before {
  content: "\E907";
}

.icon-icons_external-link-mobile:before {
  content: "\E908";
}

.icon-icons_google-play-logo:before {
  content: "\E909";
  /*color: #666f78;*/
}

.icon-icons_google-play-logo-color .path1:before {
  content: "\E90A";
  /*color: rgb(130,140,150);*/
}

.icon-icons_google-play-logo-color .path1:before, .icon-icons_google-play-logo-color .path2:before, .icon-icons_google-play-logo-color .path3:before, .icon-icons_google-play-logo-color .path4:before {
  transition: color 0.15s ease-in-out;
}

.icon-icons_google-play-logo-color .path2:before {
  content: "\E90B";
  margin-left: -1em;
  /*color: rgb(130,140,150);*/
}

.icon-icons_google-play-logo-color .path3:before {
  content: "\E90C";
  margin-left: -1em;
  /*color: rgb(130,140,150);*/
}

.icon-icons_google-play-logo-color .path4:before {
  content: "\E90D";
  margin-left: -1em;
  /*color: rgb(130,140,150);*/
}

.icon-icons_moon:before {
  content: "\e90e";
}

.icon-icons_new-window-link:before {
  content: "\e90f";
}

.icon-icons_new-window-link-mobile:before {
  content: "\e910";
}

.icon-icons_print:before {
  content: "\e911";
  color: #a2a9b1;
}

.icon-icons_search:before {
  content: "\e912";
}

.icon-icons_Searchmenu .path1:before {
  content: "\e913";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.icon-icons_Searchmenu .path2:before {
  content: "\e914";
  margin-left: -1.5712890625em;
  color: rgb(0, 0, 0);
}

.icon-icons_wheelchair:before {
  content: "\e915";
}

.icon-icons_wifi:before {
  content: "\e916";
}

.icon-logo_Bike:before {
  content: "\e917";
  color: #5ab99a;
}

.icon-logo_Carsharing:before {
  content: "\e918";
  color: #f37021;
}

.icon-logo_Electro:before {
  content: "\e919";
  color: #0a7960;
}

.icon-logo_metro:before {
  content: "\e91a";
}

.icon-logo_mos_trans:before {
  content: "\e91b";
  color: #da2032;
}

.icon-logo_mosgorpass:before {
  content: "\e91c";
  color: #e42828;
}

.icon-logo_mosgortrans:before {
  content: "\e91d";
  color: #1a66cc;
}

.icon-logo_parking:before {
  content: "\e91e";
}

.icon-logo_River:before {
  content: "\e91f";
  color: #385d70;
}

.icon-metro-lines1 .path1:before {
  content: "\e920";
  color: rgb(254, 254, 254);
}

.icon-metro-lines1 .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(217, 33, 40);
}

.icon-metro-lines2 .path1:before {
  content: "\e922";
  color: rgb(254, 254, 254);
}

.icon-metro-lines2 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(76, 184, 93);
}

.icon-metro-lines3 .path1:before {
  content: "\e924";
  color: rgb(254, 254, 254);
}

.icon-metro-lines3 .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 119, 190);
}

.icon-metro-lines4 .path1:before {
  content: "\e926";
  color: rgb(254, 254, 254);
}

.icon-metro-lines4 .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 192, 242);
}

.icon-metro-lines5 .path1:before {
  content: "\e928";
  color: rgb(254, 254, 254);
}

.icon-metro-lines5 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(136, 78, 53);
}

.icon-metro-lines6 .path1:before {
  content: "\e92a";
  color: rgb(254, 254, 254);
}

.icon-metro-lines6 .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(244, 129, 31);
}

.icon-metro-lines6 .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(244, 129, 31);
}

.icon-metro-lines7 .path1:before {
  content: "\e92d";
  color: rgb(254, 254, 254);
}

.icon-metro-lines7 .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(141, 71, 155);
}

.icon-metro-lines8 .path1:before {
  content: "\e92f";
  color: rgb(255, 220, 0);
}

.icon-metro-lines8 .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-metro-lines8 .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 220, 0);
}

.icon-metro-lines8 .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 220, 0);
}

.icon-metro-lines8a .path1:before {
  content: "\e933";
  color: rgb(255, 220, 0);
}

.icon-metro-lines8a .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-metro-lines8a .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 220, 0);
}

.icon-metro-lines8a .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 220, 0);
}

.icon-metro-lines8a .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-metro-lines8a .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 220, 0);
}

.icon-metro-lines9 .path1:before {
  content: "\e939";
  color: rgb(254, 254, 254);
}

.icon-metro-lines9 .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(160, 161, 163);
}

.icon-metro-lines9 .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(160, 161, 163);
}

.icon-metro-lines10 .path1:before {
  content: "\e93c";
  color: rgb(179, 211, 68);
}

.icon-metro-lines10 .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines10 .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines10 .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(179, 211, 68);
}

.icon-metro-lines11 .path1:before {
  content: "\e940";
  color: rgb(254, 254, 254);
}

.icon-metro-lines11 .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines11 .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(121, 204, 204);
}

.icon-metro-lines12 .path1:before {
  content: "\e943";
  color: rgb(254, 254, 254);
}

.icon-metro-lines12 .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines12 .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(171, 190, 226);
}

.icon-metro-lines13 .path1:before {
  content: "\e946";
  color: rgb(171, 190, 226);
}

.icon-metro-lines13 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 119, 190);
}

.icon-metro-lines13 .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines13 .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines14 .path1:before {
  content: "\e94a";
  color: rgb(254, 254, 254);
}

.icon-metro-lines14 .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

.icon-metro-lines14 .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(237, 49, 36);
}

.icon-metro-lines14 .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(237, 49, 36);
}

.icon-metro-lines14 .path5:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(237, 49, 36);
}

.icon-metro-lines14 .path6:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.icon-metro-lines14 .path7:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}

.icon-abus:before {
  content: "\e951";
}

.icon-Aeroexpress:before {
  content: "\e952";
  color: #da2032;
}

.icon-airport:before {
  content: "\e953";
}

.icon-Arrow:before {
  content: "\e954";
  color: #a2a9b1;
}

.icon-avto:before {
  content: "\e955";
}

.icon-bus:before {
  content: "\e956";
  color: #1a66cc;
}

.icon-Calendar:before {
  content: "\e957";
  color: #a2a9b1;
}

.icon-Component:before {
  content: "\e958";
}

.icon-Component-hover:before {
  content: "\e959";
}

.icon-Expand-arrow_small:before {
  content: "\e95a";
  color: #a2a9b1;
}

.icon-file-icon:before {
  content: "\e95b";
}

.icon-Frame-183:before {
  content: "\e95c";
}

.icon-Frame-184:before {
  content: "\e95d";
}

.icon-Frame:before {
  content: "\e95e";
}

.icon-Group-182 .path1:before {
  content: "\e95f";
  color: rgb(255, 255, 255);
}

.icon-Group-182 .path2:before {
  content: "\e960";
  margin-left: -1.103515625em;
  color: rgb(255, 221, 51);
}

.icon-Group-182 .path3:before {
  content: "\e961";
  margin-left: -1.103515625em;
  color: rgb(0, 0, 0);
}

.icon-Group-182 .path4:before {
  content: "\e962";
  margin-left: -1.103515625em;
  color: rgb(0, 0, 0);
}

.icon-kremlin-star-icon:before {
  content: "\e963";
  color: #f00;
}

.icon-metro-m:before {
  content: "\e964";
  color: #ee2e24;
}

.icon-Pattern:before {
  content: "\e965";
  color: #da2032;
}

.icon-Pedestrian:before {
  content: "\e966";
}

.icon-Tram:before {
  content: "\e967";
  color: #1a66cc;
}

.icon-Trolley:before {
  content: "\e968";
  color: #1a66cc;
}

.icon-velos:before {
  content: "\e969";
}

.icon-nchor:before {
  content: "\e96a";
}

.icon-parking_pin .path1:before {
  content: "\e96b";
  color: rgb(0, 119, 190);
}

.icon-parking_pin {
  font-size: 2em;
}

.icon-parking_pin .path2:before {
  content: "\e96c";
  margin-left: -0.775390625em;
  color: rgb(255, 255, 255);
}

.hide {
  display: none !important;
}

.no-scroll {
  height: 100%;
  overflow: hidden;

  .footer_div,
  .votes__list,
  .navbar_div {
    display: none !important;
  }
}


html.new-style,
.new-style-block {
  font-size: 10px;
  -webkit-font-smoothing: auto;

  .tooltip .tooltip-inner,
  .theme--light.v-text-field {
    font-family: 'Moscow Sans', Arial, sans-serif;
  }

  body {
    padding: 0 0 0 0;
    margin: 0;
    color: #000;
    background: #ffffff;
    font-size: 14px;
    font-family: 'Moscow Sans', Arial, sans-serif;
    font-weight: 400;

    .application {
      font-family: 'Moscow Sans', Arial, sans-serif;
      width: 100%;

      &.theme--light {
        background-color: transparent;
      }

      .v-btn {
        border-radius: 0.8rem;
        box-shadow: none;
        padding-bottom: 3px;
        color: rgba(102, 111, 120, 0.8);
        background: rgba(102, 111, 120, 0.1);
        text-transform: none;
        font-weight: 400;
        font-size: 16px;
      }

      .modal__btn_color {
        background-color: #DA2032 !important;
        border-color: #DA2032 !important;
        color: #fff !important;
      }

      .primary {
        background-color: #DA2032 !important;
        border-color: #DA2032 !important;
        color: #fff !important;
      }

      .primary--text {
        color: #2b7ae6 !important;
      }

      .theme--light.v-list .v-list__tile--link:hover, .theme--light.v-list .v-list__tile--highlighted, .theme--light.v-list .v-list__group__header:hover {
        background-color: transparent;
        color: #2b7ae6;
      }
    }

    @media (min-width: 1840px) {
      &:not(.second_map) .container {
        max-width: 1610px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &.menu_active {
      overflow: hidden;
      height: 100%;

      .menu_all {
        display: block;
      }

      .container_center,
      .footer_div {
        display: none;
      }
    }

    &.second_page .cont_all {
      padding-top: 170px;
      @media (max-width: 992px) {
        padding-top: 154px;
      }
    }

    &.bg {
      background-color: #f3f5f7;
    }
  }

  .lds-ring div {
    border: 6px solid #DA2032;
    border-color: #DA2032 transparent transparent transparent;
  }

  .container {
    padding: 0;
    max-width: none;
    margin-right: 16px;
    margin-left: 16px;
    width: initial;
    @media (min-width: 768px) {
      margin-right: 40px;
      margin-left: 40px;
    }
    @media (min-width: 1024px) {
      margin-right: 44px;
      margin-left: 44px;
    }
    @media (min-width: 1400px) {
      margin-right: 64px;
      margin-left: 64px;
    }
  }

  .cont_all {
    padding-top: 71px;
    min-height: 100vh;
    padding-bottom: 150px;

    @media (max-width: 992px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  svg {
    overflow: hidden;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  a {
    color: #1A66CC;
    text-decoration: none;
    cursor: pointer;
  }

  .a_bl a,
  .a_black2 {
    color: #000000;
    text-decoration: none;
    display: inline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .a_bl a:hover, .a_bl a:focus,
  .a_black2:hover, .a_black2:focus {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .v-input:not(.v-input--is-disabled) input, .v-select .v-select__selections, .v-input--is-disabled input {
    font-size: 16px;
  }

  .theme--light.v-text-field,
  .v-pagination.theme--light .v-pagination__item,
  .navbar-top:hover {
    svg * {
      opacity: 1 !important;
    }
  }

  .form-control {
    display: block;
    width: 100%;
  }

  .pos_rel {
    position: relative;
    /*width:100%;*/
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  @media (min-width: 576px) {
    .col-sm {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-sm-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-sm-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-sm-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-sm-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-sm-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-sm-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-sm-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-sm-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .col-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-md-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .ipad_old .col-md-12 {
      flex: none;
    }

    .order-md-1 {
      order: 1;
    }
    .order-md-2 {
      order: 2;
    }
    .order-md-3 {
      order: 3;
    }
    .order-md-4 {
      order: 4;
    }
  }

  @media (min-width: 992px) {
    .col-lg {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .col-xl {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-xl-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-xl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


  @media (min-width: 1530px) {
    .col-xxl {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-xxl-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-xxl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-xxl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-xxl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-xxl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-xxl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-xxl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-xxl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-xxl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-xxl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-xxl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-xxl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-xxl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .tab-content {
    > .tab-pane {
      display: none;
    }

    > .active {
      display: block;
    }
  }

  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }

  body:not(.main_first) .navbar_div, .navbar_red .navbar_div {
    position: fixed;
  }

  .text-du {
    text-decoration: underline;
  }

  .modal_vote-against .modal__label {
    color: #DA2032;
  }

  body .application .modal__footer_votes .modal__btn.modal__btn_color {
    background-color: #2b7ae6 !important;
    border-color: #2b7ae6 !important;
  }

  body .application .modal_vote-against .modal__footer_votes .modal__btn.modal__btn_color {
    background-color: #DA2032 !important;
    border-color: #DA2032 !important;
  }
}

.new-style-block {
  .footer_div {
    margin-top: 0 !important;
  }
  @media (min-width: 1840px) {
    .container {
      max-width: 1610px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

html.layout-editor {
  .cont_all {
    padding: 0;
  }
}
