.spec-ver{
  display: none;
  font-weight: normal;
  img {
    width: 4.2rem;
    margin-right: 0.78rem;
  }
}
//.not_active {
//  display: none;
//}

$fs12: 1.2;

html.new-style.special {
  .spec-ver {
    font-weight: bold;
  }
  /*********bg-color*********/
  .age {
    margin-top: 3.5rem;
  }

  .age:first-child {
    margin-top: 0.6rem;
  }

  .mc_top {
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    background-color: #FFFFFF;
  }

  .mc_top .div1 .sp2 .inp1 {
    height: 4rem;
    width: 100%;
  }

  .mc_top .div1 .sp1 {
    display: block;
    width: 25px;
  }

  .zbz-input-clearable {
    padding-left: 1rem !important;
  }

  .footer_div,
  .blue_body .footer_div {
    background-image: url(/images/main_footer.93c1eae6.svg) !important;
    background-repeat: no-repeat;
    background-position: left 11%;
    background-size: 100%;
    background-color: #eaeaea;
    height: 28rem;
    margin-top: -16rem;
  }

  .footer_div .container {
    padding: 0rem 2rem;
    margin-top: 2.3rem;
  }

  .soc_el,
  .blue_body .soc_el {
    background: #E8EBED;
    color: #000000;
    text-decoration: none;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .soc_el,
  .blue_body .soc_el:hover {
    background: rgba(128, 128, 128, 0.5);
    color: #000000;
  }

  .div_block .div_tit_rad,
  .div_grey2 {
    background: #eaeaea;
  }

  .div_green .btn-primary,
  .div_green .btn-primary:hover, .div_green .btn-primary:not(:disabled):not(.disabled):hover {
    color: #eaeaea;
  }

  .div_block .div_tit_rad::before {
    background: #eaeaea;
  }

  .second_map .content_left {
    background: #eaeaea;
  }

  body {
    background-color: #eaeaea;
  }

  .blue_body {
    background: #FFFFFF;
    color: #000000;
  }

  .blue_body .table-schedule .ts-row:hover {
    color: #000;
  }

  .blue_body .table-schedule .ts-row:hover:before {
    background: rgba(128, 128, 128, 0.5);
  }

  .blue_body .table-schedule .ts-row {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }

  .container img {
    max-width: 100%;
  }

  .container img.d1,
  .container img.d2,
  .container img.d3 {
    width: 45%;
  }

  div.col-md-4 col-6 h2mb img {
    width: 45%;
  }

  .blue_body .navbar_div,
  .navbar_div {
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), #000000;
  }

  .menu_top a:hover,
  .menu_top .activ a,
  .blue_body .menu_top a:hover {
    background: #808080;
    opacity: 0.9;
    box-shadow: inset 0px 2px 0px #808080;
  }

  .menu_top .activ2 a:before {
    background: #808080;
    height: 1.6rem;
  }

  a.div_block:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link,
  .blue_body .nav-pills .nav-link.active,
  .blue_body .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background: #000000;
  }

  .nav-pills {
    background: #808080;
  }

  .nav-pills-big .nav-link {
    color: #000000;
    background: #808080;
  }

  .nav-pills:not(.nav-grey) .nav-link:hover {
    color: #FFFFFF !important;
    background: #000000;
  }

  .blue_body .nav-pills:not(.nav-grey) .nav-link.active:hover {
    color: #FFFFFF !important;
  }

  .news_right_lh1 a, .blue_dotted {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

  .blue_dotted {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3)
  }

  .blue_dotted:hover {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5)
  }

  .news_right_lh1 a:hover, .blue_dotted:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  .a_blue .a_text,
  .blue_body .footer_menu .fl_a a,
  .blue_body .a_black2,
  a.d-inline {
    color: #000000;
    display: inline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .a_blue:hover .a_text:hover,
  .blue_body .footer_menu .fl_a a:hover,
  .blue_body .a_black2:hover,
  a.d-inline:hover {
    display: inline;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  a.icon-doc:hover, a.ico-docx:hover,
  .right_mb1 a:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  .right_mb1 a {
    color: #000000;
  }

  .a_blue svg {
    fill: rgb(0, 0, 0);
  }

  .a_blue:hover svg {
    fill: rgba(0, 0, 0, 0.5);
  }

  .price_cargopark {
    width: 100%;
    max-width: 90rem;
  }

  .price_cargopark .d {
    width: 100%;
    max-width: 26.2rem;
  }

  .cont_a a:not([class]):hover, .cont_a a:not([class]):focus,
  .a_href:hover, .a_href:focus {
    color: rgba(0, 0, 0, 0.5);
    text-decoration-color: rgba(0, 0, 0, 0.3);
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
  }

  .cont_a a:not([class]), .a_href {
    color: #000000;
    text-decoration-color: rgba(0, 0, 0, 0.5);
  }

  .a_black[data-toggle="collapse"]:hover,
  .a_dotted:hover {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.51);
  }

  .cont_a .fac_tit3:hover .a_dotted, .cont_a .fac_tit3.active .a_dotted {
    color: rgba(0, 0, 0, 0.51);
  }

  svg.pm {
    width: 11.88rem; /*9.9rem*/
    height: 6.24rem; /*5.2rem*/
  }

  svg.pm path {
    stroke: #000000;
  }

  svg.helps {
    width: 5.4rem; /*4.5rem*/
    height: 5.52rem; /*4.6rem*/
  }

  svg.velotr {
    width: 8.02rem; /*6.7rem*/
    height: 6.72rem; /*5.6rem*/
  }

  svg.velotr path,
  img.right_mb1 {
    fill: #000000;
  }

  svg.taxi_ico {
    height: 6.72rem; /*5.6rem*/
    width: 7.32rem; /*6.1rem*/
  }

  #taxi1 {
    fill: #000000;
  }

  #taxi2 {
    fill: #FFFFFF;
  }

  svg.helps .d1 {
    stroke: #000000;
    width: 5.4rem; /*4.5rem*/
    height: 5.52rem; /*4.6rem*/
  }

  svg.helps *, ::after, ::before {
    fill: #eaeaea;
  }
  //.right_mb1 svg path {
  //  stroke: black !important;
  //}
  svg.evaq path {
    fill: black !important;
  }
  .rss_news circle {
    stroke: black !important;
  }
  .rss_news circle:first-child {
    fill: black !important;
  }
  .cloud_big {
    width: 92rem;
    font-size: 7.2rem;
    border-radius: 3.5rem;
    margin-bottom: 2.2rem;
  }
  .btn-primary {
    background-color: #000000;
  }
  .btn-primary:not(:disabled):not(.disabled):hover {
    background: #4C4C4C;
  }
  .btn-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0px 1px #ffffff, 0 0px 4px rgb(0, 0, 0.8);
  }
  .btn-primary:not(:disabled):not(.disabled):active {
    background: #000000;
    box-shadow: inset 0px 7px 10px rgba(0, 0, 0, 0.2) !important;
  }
  //.btn-primary:disabled,/*Ð¿Ð¾ÐºÐ° Ð½Ðµ ÑÐ°Ð±Ð¾Ð°ÐµÑ!*/
  //.btn-primary.disabled
  .required_control:not(.required_true) [type="submit"] {
    background: #B2B2B2;
    color: rgba(255, 255, 255, 0.5);
  }
  .btn-secondary {
    color: #000000;
    background: rgba(128, 128, 128, 0.5);
  }
  .btn-secondary:not(:disabled):not(.disabled):hover {
    color: rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.3);
  }
  .btn-secondary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0px 1px #ffffff, 0 0px 4px rgba(0, 0, 0, 0.8);
  }
  .btn-secondary:not(:disabled):not(.disabled):active {
    color: rgb(0, 0, 0);
    background: rgba(102, 111, 120, 0.3);
    box-shadow: inset 0px 7px 10px rgba(0, 0, 0, 0.3) !important;
  }
  .btn-secondary:disabled,
  .btn-secondary.disabled {
    color: rgba(0, 0, 0, 0.3);
    background: rgba(128, 128, 128, 0.3);
  }
  .btn-app-store{
    width: 16.2rem;
  }
  input[type="checkbox"].form-check-input + .sp_all, input[type="radio"].form-check-input + .sp_all {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    color: #808080;
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    border-radius: 0.4rem;
    border: 1px solid #808080;
    background: #808080;
  }
  input[type="checkbox"].form-check-input + .sp_all:hover, input[type="radio"].form-check-input + .sp_all:hover,
  .label_input:hover input[type="checkbox"].form-check-input + .sp_all,
  .label_input:hover input[type="radio"].form-check-input + .sp_all:hover {
    border: 1px solid #4C4C4C;
    background: #4C4C4C;

  }
  .back_grey input[type="checkbox"].form-check-input:checked + .sp_all,
  .back_grey input[type="radio"].form-check-input:checked + .sp_all,
  .nav-pills-form .form-check-input:checked + a{
    background: #4C4C4C;
  }
  .back_grey input[type="checkbox"].form-check-input:checked + .sp_all:hover,
  .back_grey input[type="radio"].form-check-input:checked + .sp_all:hover,
  .back_grey .label_input:hover input[type="checkbox"].form-check-input:checked + .sp_all,
  .back_grey .label_input:hover input[type="radio"].form-check-input:checked + .sp_all {
    background: #A2A9B1;
  }
  input[type="checkbox"].form-check-input:focus + .sp_all, input[type="radio"].form-check-input:focus + .sp_all {
    box-shadow: 0px 0px 2px #808080;
    border: 1px solid #4C4C4C;
  }
  input[type="radio"].form-check-input + .sp_all {
    border-radius: 100%;
  }
  input[type="checkbox"].form-check-input + .sp_all:before,
  input[type="radio"].form-check-input + .sp_all:before {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: -1px;
    left: -1px;
  }
  //input[type="checkbox"].form-check-input:checked + .sp_all:before {
  //  content: "";
  //  background: url(../img/whiteCheckbox.svg) no-repeat center center;
  //  background-size: 1.45rem 1.4rem;
  //  border-radius: 0.4rem;
  //  background-color: rgb(128, 128, 128);
  //}
  input[type="radio"].form-check-input:checked + .sp_all:before {
    content:"";
    top: 50%;
    left: 50%;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: -0.6rem;
    margin-left: -0.6rem;
    background: rgb(255, 255, 255);
    border-radius: 100%;
  }
  input[type="checkbox"]:disabled + .sp_all {
    border: 1px solid rgba(128, 128, 128, 0.3);
    opacity: 0.3;
    color: rgba(128, 128, 128, 0.3);
    cursor: default;
  }
  input[type="radio"]:disabled + .sp_all {
    border: 1px solid rgba(128, 128, 128, 0.3);
    opacity: 0.3;
    color: rgba(128, 128, 128, 0.3);
    cursor: default;
  }
  input[type="checkbox"].is-invalid + .sp_all,
  .was-validated input[type="checkbox"]:invalid + .sp_all
  input[type="radio"].is-invalid + .sp_all,
  .was-validated input[type="radio"]:invalid + .sp_all {
    border-color: #FF001F;
  }
  .vacancy_form .reset_button{
    background: #808080;
    color: #FFFFFF;
  }
  .was-validated .form-control:valid, .form-control.is-valid {
    background: none;
  }
  .div_radiogr {
    display: inline-flex;
    border-radius: 0.8rem;
    overflow: hidden;
    background: #808080;
  }
  .div_radiogr .sp_rad {
    display: inline-block;
    text-align: center;
    border-radius: 0.8rem;
    float: left;
    transition: all 0.3s ease;
  }
  .div_radiogr .sp_rad {
    color: #ffffff;
    cursor: pointer;
  }
  .div_radiogr label:not(:checked):hover .sp_rad {
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
  }
  .div_radiogr input[type="radio"].form-check-input:checked + .sp_rad {
    color: #000000;
    background: #ffffff;
  }
  .div_radiogr input[type="radio"].form-check-input:focus + .sp_rad {
    border: 0.2rem solid rgba(26, 102, 204, 0.6);
    line-height: 2.5rem;
  }
  .back_grey .div_radiogr {
    background: rgba(162, 169, 177, 0.25);
  }
  .back_grey .div_radiogr input[type="radio"].form-check-input:focus + .sp_rad {
    border: 0.2rem solid rgba(26, 102, 204, 0.6);
    background: #A2A9B1;
  }
  .touchdevice .sp_rad {
    height: 4rem;
    line-height: 3.9rem;
  }
  .touchdevice .div_radiogr input[type="radio"].form-check-input:focus + .sp_rad {
    line-height: 3.5rem;
  }
  .form-control {
    background: #FFFFFF;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    height: 4.4rem;
    padding: 1.1rem 1.2rem;
    box-shadow: none;
    /*transition: all 0.3s ease;*/
  }
  .blue_body .table-schedule .ts-header .dropdown > span, .blue_body  .table-schedule .ts-header label, .blue_body .table-schedule .ts-header > div > a,
  .blue_body .table-schedule .ts-header {
    color: rgba(0, 0, 0, 0.5);
  }
  .blue_body .schedule-search label,
  .blue_body .schedule-search input{
    background: #eaeaea;
  }
  .form-control:hover {
    border: 1px solid #4c4c4c;
  }
  .form-control:focus {
    color: #4c4c4c;
  }
  .form-control:focus {
    border: 1px solid #808080;
  }

  .form-control::-webkit-input-placeholder {
    color: #808080;
  }

  .form-control::-moz-placeholder {
    color: #808080;
  }

  .form-control:-ms-input-placeholder {
    color: #808080;
  }

  .form-control::-ms-input-placeholder {
    color: #808080;
  }

  .form-control::placeholder {
    color: #808080;
  }

  .form-control:focus::-webkit-input-placeholder {
    color: #808080;
  }

  .form-control:focus::-moz-placeholder {
    color: #808080;
  }

  .form-control:focus:-ms-input-placeholder {
    color: #808080;
  }

  .form-control:focus::-ms-input-placeholder {
    color: #808080;
  }

  .form-control:focus::placeholder {
    color: #808080;
  }
  .spec-ver img {
    width: 5.2rem;
  }
  .select2-container--default .select2-selection--multiple,
  .select2-container--default .select2-selection--single {
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    border-radius: 0.8rem;
  }
  .select2-container--default .select2-selection--multiple:hover,
  .select2-container--default .select2-selection--single:hover {
    background-color: rgba(128, 128, 128, 0.3);
  }
  .select2-container--default .select2-selection--multiple {
    min-height: 4.4rem;
    height: auto;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    line-height: 3rem;
    padding: 0 1rem 0 0.5rem;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 1.2rem;
    padding-right: 2rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 4.2rem;
    color: #000000;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 4.4rem;
    width: 2rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000000 transparent transparent transparent;
    border-width: 4px 4px 0 4px;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 1px solid #808080;
    border-bottom: 1px solid #E8EBED;
  }
  .select2-container--open .select2-dropdown--below {
    border:none;
    box-shadow: 0px 3px 10px rgba(10, 30, 50, 0.1), 0px 1px 2px rgba(10, 30, 50, 0.152768);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: none;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba(128, 128, 128, 0.3);
    color: #000000;
  }
  .select2-container--default .select2-results__option[aria-selected="true"] {
    background: #000000;
    color: #ffffff;
  }
  .select2-results__option {
    padding: 0.8rem 1.2rem 1rem 1.2rem;
  }
  .div_faq .div_tit2 .a_black:hover {
    color: rgba(0,0,0,0.5);
    text-decoration-color: rgba(128, 128, 128, 0.3);
    -webkit-text-decoration-color: rgba(128, 128, 128, 0.3);
  }
  .schedule-search-menu span.active, .schedule-search-menu span:hover {
    background-color: #000000;
  }
  .flatpickr-current-month, .flatpickr-current-month .flatpickr-monthDropdown-months {
    height: 100%;
    margin: -1px 5px 5px 5px;
    width: 60%;
    right: 50px;
  }
  .flatpickr-current-month .numInputWrapper{
    left: 75px;
    bottom: 30px;
  }
  .flatpickr-day.selected {
    background: #000000;
    border-color: #000000;
  }
  .flatpickr-day.selected:hover {
    background: #000000;
    border-color: #808080;
  }
  .flatpickr-day:hover {
    background: transparent;
    border-color: #808080;
    color: #808080;
  }
  .check_two input[type="checkbox"].form-check-input + .sp_all {
    height: 1.6rem;
    border-radius: 1.6rem;
    width: 3rem;
    background: rgba(128, 128, 128, 0.3);
    border: none;
    position: relative;
  }
  .check_two input[type="checkbox"].form-check-input + .sp_all:before {
    content: "";
    display: block;
    border-radius: 100%;
    background: #000000;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    height: 1.4rem;
    width: 1.4rem;
    border:none;
  }
  .check_two input[type="checkbox"].form-check-input + .sp_all:hover,
  .check_two input[type="checkbox"].form-check-input + .sp_all:focus,
  .check_two .label_input:hover input[type="checkbox"].form-check-input + .sp_all {
    border:none;
    box-shadow: none;
  }
  .check_two input[type="checkbox"].form-check-input:checked + .sp_all:before {
    left: auto;
    right: 0.1rem;
  }
  .form_big .form-control {
    height: 11.2rem;
    padding: 3.8rem 4rem 3.5rem 4rem;
    border-radius: 1.6rem;
  }
  .form_brb0 .form-control,
  .form_big .br_top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form_br0 .form-control {
    border-radius: 0;
  }
  .form_brt0 .form-control,
  .form_big .br_bot {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .div_comp {
    top: 5rem;
  }
  .season_pass_tab .price {
    margin-top: -3rem;
  }
  .age .h3fs {/*Ð½Ð° Ð¿Ð¾Ð¿Ð¾Ð·Ð¶Ðµ*/
    margin-top: -0.5rem;
  }
  .div_legend legend {
    background: #eaeaea;
  }
  /******font-size*******/
  body,
  .h1_center_text,
  .h4_text {
    font-size: 2.4rem;/*2rem*/
  }
  //.second_page .footer_div{
  //  background-image: url(/build/images/main_footer.svg) no-repeat left 11%;
  //  background-size: auto;
  //  background-color: #eaeaea;
  //}
  .cont_a p, .cont_a li, .cont_a blockquote {
    font-size: 2.4rem;/*2rem*/
    line-height: 1.56;/*1.3*/
  }
  .h1_text {
    font-size: 3.2rem; /*2.8rem*/
    line-height: 1.5432;/*1.286*/
  }
  h1,
  .h1fs {
    font-size: 7.2rem; /*6,2rem*/
  }
  .h1_center,
  .h1_cfs{
    font-size: 8rem; /*7rem*/
  }
  .h1_hero{
    font-size: 9.7rem; /*8.7rem*/
  }
  h2,
  .h2fs{
    font-size: 4.6rem; /*4rem*/
  }
  h3,
  .h3fs{
    font-size: 3.6rem;/*3rem*/
  }
  h4,
  .h4fs,
  .fs14{
    font-size: 2.6rem;/*2.2rem*/
  }
  .div_news_warning .div_tit{
    line-height: 1.2;
  }
  /*******em**********/
  .cont_a a[target^="_blank"]:not([class]):after,
  .cont_a a[target^="_blanc"]:not([class]):after,
  .cont_a a[href^="http://"]:not([class]):after,
  .cont_a a[href^="https://"]:not([class]):after {
    font-size: 0.55em;
  }
  .cont_a a[target^="_blank"]:not([class]):after,
  .cont_a a[target^="_blanc"]:not([class]):after,
    /********faq.css**********/
  .a_nchor {
    font-size: 0.7em;
  }
  .a_span {
    font-size: 0.8em;
  }
  .landmark_map,
  label.required:after {
    font-size: 0.9em;
  }

  /****map_one.css****/
  .mc_marsh_center > .div2 .sp2 .icon-fifa-pedestrian {
    font-size: 1.1em;
  }
  .icon-parking_pin {
    font-size: 2em;
  }
  /********rem*********/

  .slick-dots li button,
    /****map_one.css****/
  .swiper-pagination-bullets-dynamic {
    font-size: 0;
  }
  /****map_one.css****/
  .sp_load {
    font-size: $fs12 * 7px;
  }
  /****map_one.css****/
  .mc_loader {
    font-size: $fs12 * 10px;
  }
  .menu_search .search_text,
  .fs12,
  .div_grey .div_text2,
  .structure__person .div_text,
  .krug_zvet,
  .news_main .news_data,
  .icon-doc:after,
    /******map_schedule.css******/
  .point_map_Stan .d1,
  .mc_variant_block .div1,
    /****map_one.css****/
  .closures_item .fs12,
  .moreInfo_block .fs12,
  .moreInfo_block .balloon-content .balloon-data span,
  .doc_size {
    font-size: $fs12 * 1.2rem;
  }
  /******map_schedule.css******/
  .table-schedule div.ts-row small {
    font-size: 13px;
  }
  .form-text,
  .fs14_16,
    /*.fs14,*/
  .fs16m,
  .table th, .col_th,
  .table_hint,
  .footer_div,
  .footer_text2,
  .mc_top .div1 .sp1,
  .svetovor_num,
  .vacancy_list .vl-item .v1,
  .vacancy_list .vl-item .v22,
  .vacancy_list .vl-item .v23,
  .vacancy_list .vl-item .v24,
  .vacancy_item .v3_1,
  .person_lite .structure__person .div_tit,
    /******map_schedule.css******/
  .raspisanie_data.dt_thead,
    /****map_one.css****/
  .mc_marsh_center > .div1 .sp3,
  .mc_marsh_center > .div2 .sp2,
  .mc_marsh_center > .div3 .sp3,
  .mc_marsh_center > .div3 .sp4,
  .map_form.map_open .cont_left .one_map_not .btn_map_js {
    font-size: $fs12 * 1.4rem;
  }
  .bootstrap-datetimepicker-widget .table-condensed {
    font-size: $fs12 * 1.5rem;
  }
  .right_el,
  .form-control,
  .form-group,
  .btn-sm,
  .div_comp .btn,
  .btn-md,
  .btn-app-store > span:last-child,
  .btn_autch,
  .menu_right1 .menu_right1,
  .fs16,
  .soc_el,
  .footer_div,
  .tooltip-inner,
  .mc_top .div1 .sp2 .inp1,
  .news_main .news_el,
  .news_main .news_add,
  .div_legend,z,
  .div_ul,
  .top_back a,
  .div_grey .div_text,
  .div_block .div_text,
  .nav-pills .nav-link,
  .news_tag .tag_el,
  .news_carusel,
  .nav-grey li,
  .group_row .feedback_check_fs .form-check .label_input,
  .table.table-sm,
  .datepicker th.dow, .datepicker td.day,
  .datepicker .month, .datepicker .year, .datepicker .decade, .datepicker .century,
  .cloud_subscription,
  .areal,
  .vacancy_form .reset_button,
  .vacancy_more .v2,
  .vacancy_item .v1,
  .fac_tit3,
  .date-select,
    /******map_schedule.css******/
  .schedule_list_raspisanie,
  .point_map_Strela,
  .point_map_Strela_white,
  .raspisanie_data_tit,
  .table-schedule .ts-header,
  .table-schedule .ts-header .dropdown>span, .table-schedule .ts-header label, .table-schedule .ts-header>div>a,
  .schedule-search input,
  .schedule-search-menu span,
  .dropdown-menu > a, .dropdown-menu > span,
    /****map_one.css****/
  .map_cont_block,
  .map_cont_block .form-control,
  .map_cont_block .select2-container,
  .map_range .fs16,
  .select2-container,
  .landmark_map,
  .mc_mesto .div1 .sp1,
  .point_layout,
  .closures_collapse > .form-group,
  .form_pb0 .form-control,
  .transport_type.div_radiogr .sp_rad.icon-avto,
  .div_faq .collapse,
  .div_faq .collapsing,
  .file_list,
  .icon-doc {
    font-size: $fs12 * 1.6rem;
  }
  /******map_schedule.css******/
  .point_map_Text {
    font-size: $fs12 * 17px;
  }
  .btn,
  .btn-ico-center [class^="icon-"],
  .btn-ico-center [class*=" icon-"],
  .menu_left .btn,
  .fs18,
  .maim_menu a, .maim_menu a:hover, .maim_menu a:visited, .maim_menu a:hover,
  .all_warning_alert,
  .nav-pills-big .nav-link,
  .group_row .form-group,
  .fac_tit2,
  .panel-img p,
    /******map_schedule.css******/
  .fs18_p blockquote,
  .filters--mobile.filters--type2 .filter-item label,
  .filters--mobile .filter-item label,
  .blue_body .table-schedule .ts-row {
    font-size: $fs12 * 1.8rem;
  }
  .bootstrap-datetimepicker-widget table th.picker-switch,
    /****map_one.css****/
  .mc_marsh_center > .div1 .iconFifa {
    font-size: $fs12 * 1.9rem;
  }
  .cal_ico,
  .menu_top a,
  .btn_autch_red,
  .menu_right1,
  .div_legend,
  .footer_num,
  .div_faq,
  .div_block .div_tit,
  .div_news .div_tit,
  .div_news_big .div_dat,
  .right_form .div_tit,
  .group_row .form-check .label_input,
  .ul_search,
  .just_text,
  .vacancy_list .vl-item .v21,
  .vacancy_item .v3_2,
  .form_btn_search .btn_not_fon,
    /****map_one.css****/
  .tit_map_spisok,
  .mc_variant_block .div3 .icon-fifa-aeroexpress,
  .moreInfo_block .fs20m,
  .fs20m,
  .form_pb0 .fs20m,
  .transport_type.div_radiogr,
  .modal .modal-title {
    font-size: $fs12 * 2rem;
  }
  .fs22,
  .fs22_30,
  .div_legend legend,
  .apps_a .div_text,
  .div_event .div_tit,
  .div_event_big .div_tit,
  .datepicker .datepicker-switch,
  .flatpickr-current-month,
  .landmark_map .d2,
  .schedule-route::after, .schedule-route::before,
  .col-md-3 .tile_news_title, col-md-4 .tile_news_title,
    /****map_one.css****/
  .mc_variant_block .sel .d3_2,
  .mc_marsh_top .div3 .sp_time,
  .mc_marsh_center > .div1 .sp1,
  .mc_marsh_center > .div1 .sp1_2,
  .mc_marsh_center > .div1 .sp2,
  .mc_marsh_center > .div1 .icon-fifa-stadium,
  .polygon_layout,
  .map_zoom,
  .div_faq .div_tit2 {
    font-size: $fs12 * 2.2rem;
  }
  .transport_type.div_radiogr .sp_rad.icon-velos {
    font-size: $fs12 * 2.3rem;
  }
  .fs24m,
  .fs32m,
  .ico-trans.icon-icons_wifi,
  .group_row h4,
  .modal-close-body {
    font-size: 2.8rem; /*2,4rem*/
  }
  /****map_one.css****/
  .mc_variant_block .div3 .sp1 {
    font-size: $fs12 * 2.5rem;
  }
  .div_faq .div_tit,
    /********faq.css**********/
  .fac_tit1,
  .system-header .system-name {
    font-size: $fs12 * 2.6rem;
  }
  /****map_one.css****/
  .mc_marsh_center > .div3 .sp1 {
    font-size: $fs12 * 27px;
  }
  .close_menu,
  .fs28_36,
  .transport_type.div_radiogr .sp_rad.icon-Pedestrian,
  .vacancy_item .v4 {
    font-size: $fs12 * 2.8rem;
  }
  .row_menu .div_tit,
  .map_ico,
  .maim_menu a, .maim_menu a:hover,
  .text-error-big,
  .div_grey .div_tit,
  .div_block .div_tit2,
  .div_news_big .div_tit,
  .big_number2,
  .price_cargopark .d .d_price,
  .col-md-6 .tile_news_title, .col-md-12 .tile_news_title,
  .el_route,
  .big_number,
  .big_number2,
    /****map_one.css****/
  .one_map .map_bottom .m_parcing,
  .one_map .map_bottom .m_jams{
    font-size: $fs12 * 3rem;
  }
  .div_park_permit .div_img2,
  .grey_btn .div_ico,
  .grey_btn .icon-avto{
    font-size: $fs12 * 3.1rem;
  }
  .fs32,
  .main_page h1,
  .div_news_warning .div_tit,
    /****map_one.css****/
  .mc_variant_block .div3 .icon-fifa-taxi{
    font-size: 5.2rem;
  }
  /****map_one.css****/
  .mc_marsh_top .div3 .sp1 {
    font-size: $fs12 * 37px;
  }
  .ico-trans,
    /****map_one.css****/
  .mc_variant_block .div2.sel .icon-fifa-metro,
  .mc_variant_block .div2.sel svg[class^='iconFifa icon-fifa-line']{
    font-size: $fs12 * 3.8rem;
  }
  .grey_btn .icon-metro-m {
    font-size: $fs12 * 3.9rem;
  }

  .btn-search,
  .div_faq .div_tit,
  .apps_big .div_tit,
  .icon-doc:before,
  .form_big .form-control,
  .form_big .btn,
  .cloud_sm,
  .main_first h1,
    /****map_one.css****/
  .mc_marsh_top .div3 .icon-fifa-aeroexpress,
  .map_bottom {
    font-size: 5rem; /*4rem*/
  }
  /****map_one.css****/
  .mc_variant_block .div2.sel .iconFifa {
    font-size: $fs12 * 45px;
  }
  .map_ico:hover {
    font-size: $fs12 * 4.8rem;
  }
  .grey_btn .icon-Tram {
    font-size: $fs12 * 5rem;
  }
  .div_night_bus .div_img {
    font-size: $fs12 * 5.2rem;
  }
  .div_freeinter .div_img {
    font-size: $fs12 * 5.7rem;
  }
  .menu_search .form-control, .menu_search .form-control:invalid,
  .div_night_bus .div_img,
  .div_low_paseng .div_img,
  .main_page h1,
  .ico-trans2,
  .fs62m,
  .div_velo .div_img {
    font-size: 7.2rem;/*6,2rem*/
  }
  .fs100m{
    font-size: $fs12 * 7rem;
  }
  .fs72,
  .cloud_big,
  .fs87m {
    font-size: $fs12 * 7.2rem;
  }
  .div_park_permit .div_img {
    font-size: $fs12 * 7.9rem;
  }
  .main_first h1 {
    font-size: 12rem;
  }
  .apps_big .ico-trans2 {
    font-size: 12.5rem;
  }
  .fileinput-button input[type="file"] {
    font-size: 210px;
  }
}

@media (min-width: 1017px) and (max-width: 1208px) {
  .special {
    .right_el .fs32m, .right_el .fs32 {
      font-size: $fs12 * 2.6rem;
    }
  }
}
@media (min-width: 1600px) {
  .special {
    .fs14_16 {
      font-size: $fs12 * 1.6rem;
    }
  }
}
@media screen and (max-width:1180px) {
  .special{
    .schedule-route::after, .schedule-route::before {
      font-size: $fs12 * 18px;
    }
    .right_el .fs62m {
      font-size: 6.1rem;
    }
    .right_el a.h3fs {
      font-size: $fs12 * 2.5rem;
    }
    .right_el .metro-oplata a {
      font-size: $fs12 * 1.1rem;
    }
  }
}

