<template>
  <div class="proposal-map">
    <div class="editor__loader" v-if="mapDataLoading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="proposal-map__container" v-else>
      <Menu :routeID="routeID" />
      <SimilarRoutes v-if="!routeID && !cableWay"/>
      <div class="proposal-map__wrap">
        <map-box
          :routeID="routeID"
          :proposalModal="true"
          class="proposal-map__map-box"
          :class="{
            'proposal-map__map-box_cursor-green': (typeof editorData.focusedStop === 'number' && !editorData.allStopsStopHover && !editorData.stopsHover)
        }"
        />
        <Params :routeID="routeID" />
      </div>
      <div v-if="category === 'exist' && !routeID" class="proposal-map__no-route">
        <span>
          Выберите маршрут <br> для изменения
        </span>
        <Arrow class="proposal-map__arrow-icon"/>
      </div>
    </div>
  </div>
</template>

<script>
  import MapBox from '~/components/map/MapBox';
  import Menu from '~/components/editor/Menu';
  import Arrow from '~/components/svg/ArrowIcon2';
  import {mapMutations} from 'vuex';
  import {mapActions} from 'vuex';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from '~/components/map/layers/editor';
  import SimilarRoutes from '~/components/editor/EditorSimilarRoutes';
  import {startRouteProperties} from '~/components/map/layers/editor';
  import Params from '~/components/Proposal/Params';

  export default {
    props: ['routeID', 'cableWay', 'category'],
    components: {
      MapBox,
      Menu,
      Arrow,
      SimilarRoutes,
      Params,
    },
    data() {
      return {
        mapDataLoading: true,
        editorData,
        editorHistory,
      }
    },
    methods: {
      loadData() {
        const promises = [];
        if (!this.routes.length) {
          promises.push(this.getRoutes());
        }
        if (!this.stops.length) {
          promises.push(this.getStops());
        }
        if (!this.metro.length) {
          promises.push(this.getMetro());
        }
        if (!this.metroEntrances.length) {
          promises.push(this.getMetroEntrances());
        }
        if (!this.jd.length) {
          promises.push(this.getJd());
        }
        return Promise.all(promises);
      },
      initMap() {
        this.mapDataLoading = true;
        this.setCableWayEdit(this.cableWay);
        Object.keys(startRouteProperties).forEach(key => {
          delete startRouteProperties[key];
        });
        this.loadData().then(async () => {
          if (this.routeID) {
            const route = this.allRoutes.find(r => r.properties.routeID.toString() === this.routeID.toString());
            if (route) {
              await this.getRouteData(route.properties.routeID);
              this.editorData.routeProperties.vehiclesNum.value = this.route.vehiclesNum;
              this.editorData.routeProperties.intervalMinutes.value = `${this.route.peakIntervalMinutes}${this.route.semipeakIntervalMinutes ? `/ ${this.route.semipeakIntervalMinutes}` : ''} мин`;
            }
          } else {
            this.editorData.routeProperties.vehiclesNum.value = null;
            this.editorData.routeProperties.intervalMinutes.value = null;
          }
          this.editorData.description.weekDays = 'Все';
          this.editorData.description.dayTime = 'Любое';
          this.editorData.viewMode = false;
          this.mapDataLoading = false;
          this.editorData.userStopsById = {};
          this.editorData.activeRoute = 'mainRoute';
          this.editorData.showOriginalMasterCopy = false;
          this.editorData.routeProperties.from.value = null;
          this.editorData.routeProperties.to.value = null;
          this.editorData.routeProperties.mainRouteLengthKm.value = null;
          this.editorData.routeProperties.backRouteLengthKm.value = null;
          this.editorData.routeProperties.lengthKm.value = null;
          this.editorData.routeProperties.stopsNum.value = null;
          this.editorData.routeProperties.mainRouteTime.value = null;
          this.editorData.routeProperties.backRouteTime.value = null;
          this.editorData.routeProperties.time.value = null;
          this.editorData.stopsList.mainRoute.stops = [];
          this.editorData.stopsList.backRoute.stops = [];
          this.editorData.routesList.mainRoute = {};
          this.editorData.routesList.backRoute = {};
          this.editorData.segmentsListGenerated = false;
          this.editorHistory.id = null;
          this.editorHistory.state = [];
          this.editorData.focusedStop = this.category === 'new' ? 0 : null;
          this.editorData.newUserStopCounter = 0;
        });
      },
      ...mapActions({
        getRoutes: 'ngpt/getRoutes',
        getStops: 'ngpt/getStops',
        getMetro: 'metro/getMetro',
        getMetroEntrances: 'metro/getMetroEntrances',
        getJd: 'jd/getStations',
        getRouteData: 'ngpt/getRouteData',
        getTelematics: 'telematics/getTelematics',
      }),
      ...mapMutations({
        setCableWayEdit: 'editor/SET_CABLEWAY_EDIT'
      }),
    },
    computed: {
      metro() {
        return this.$store.state.metro.metro;
      },
      metroEntrances() {
        return this.$store.state.metro.entrances;
      },
      jd() {
        return this.$store.state.jd.stops;
      },
      stops() {
        return this.$store.state.ngpt.stops;
      },
      routes() {
        return this.$store.state.ngpt.routes;
      },
      telematics() {
        return this.$store.state.telematics.telematics;
      },
      allRoutes() {
        return this.routes.map(r => ({id: r.id, properties: r}))
      },
      route() {
        return this.routes.find(r => r.routeID === this.routeID);
      },
    },
    mounted() {
      this.initMap();
      this.$bus.$on('initMap', this.initMap);
    },
    beforeDestroy() {
      this.$bus.$off('initMap', this.initMap);
    }
  }
</script>

<style lang="scss">
  .proposal-map {
    height: 100%;

    &__container {
      display: flex;
      height: 100%;
    }

    .editor__loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__map-box {
      flex-grow: 1;

      .mapboxgl-ctrl-attrib-inner {
        display: none;
      }

      .mapboxgl-ctrl-logo {
        display: none !important;
      }

      .mapboxgl-ctrl-top-left {
        top: -2px;
        left: -4px;
      }

      &_cursor-green .mapboxgl-canvas {
        cursor: url(/ngpt-green-2.cur), auto !important; /*IE & Edge*/
        cursor: url(/ngpt-green.png) 10 10, auto !important; /*Rest browsers*/
      }
    }

    &__no-route {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: grey;
      z-index: 100;
      background-color: rgba(255, 255, 255, .75);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      user-select: none;
      color: #2b7ae6;
    }

    &__arrow-icon {
      width: 30px;
      height: 30px;
      transform: rotate(180deg);
      margin: 20px;
      fill: #2b7ae6;
    }

    &__wrap {
      height: 100%;
      position: relative;
      display: flex;
      flex-grow: 1;
    }
  }
</style>
