<template>
  <div>
    <v-navigation-drawer
      v-model="modalVisible"
      right
      fixed
      :width="400"
      class="proposal-modal"
      :class="{
        'proposal-modal_advanced': activeTab === 1
      }"
    >
      <div v-if="modalVisible" class="proposal-modal__overlay"></div>
      <div class="v-navigation-drawer__container" v-if="modalVisible">
        <div class="proposal-modal__wrapper">
          <div class="proposal-modal__container">
            <div v-if="activeTab === 1" class="proposal-modal__editor">
              <div class="proposal-modal-editor">
                <Map
                  class="proposal-modal__map"
                  :routeID="routeID"
                  :cableWay="routeMainType === 2"
                  :category="category"
                />
              </div>
              <div class="proposal-modal__editor-footer"></div>
            </div>
            <div
              class="proposal-modal__menu"
              :class="{
                'proposal-modal__menu_hidden': !menuVisible
              }"
            >
              <div class="proposal-modal__header">
                <button
                  v-if="activeTab === 1"
                  @click="menuVisible = !menuVisible"
                  class="proposal-modal__header-btn"
                  v-tooltip="menuVisible ? 'Скрыть меню' : 'Показать меню'"
                >
                  <ArrowIcon/>
                </button>
                <h4 class="proposal-modal__title">Добавить идею</h4>
                <button class="proposal-modal__close-btn" v-tooltip="'Закрыть'" @click="closeModalVisible = true">
                  <CloseIcon class="proposal-modal__close-icon"/>
                </button>
              </div>
              <div class="proposal-modal__body" v-bar>
                <div>
                  <div class="proposal-modal__content">
                    <Tabs class="proposal-modal__tabs" v-model="activeTab" :tabs="tabs"/>
                    <div class="proposal-modal-form">
                      <div class="proposal-modal-form__field proposal-modal-form__field_radio">
                        <div class="proposal-modal-form__label">Что вы хотите предложить?</div>
                        <div
                          v-for="item in categories"
                          :key="item.value"
                        >
                          <Checkbox
                            type="radio"
                            :checked="category === item.value"
                            @change="onCategoryChange(item.value)"
                          >
                            {{item.name}}
                          </Checkbox>
                        </div>
                      </div>
                      <div v-if="category === 'exist'" class="proposal-modal-form__field proposal-modal-form__field_full">
                        <div class="proposal-modal-form__label">Маршрут для изменения</div>
                        <v-autocomplete
                          :search-input.sync="search"
                          placeholder="Выберите маршрут"
                          clearable
                          :items="routes"
                          item-text="name"
                          :item-value="item => item.routeID"
                          :hide-details="true"
                          v-model="routeID"
                          :menu-props="{maxWidth: 410}"
                          @change="onRouteIDChange"
                          no-data-text="Совпадений не найдено"
                        >
                        </v-autocomplete>
                      </div>
                      <div v-if="category === 'new'" class="proposal-modal-form__field">
                        <div class="proposal-modal-form__label">Выберите тип ТС</div>
                        <v-select
                          :items="routeMainTypes"
                          :hide-details="true"
                          v-model="routeMainType"
                          @change="onRouteMainTypeChange"
                        >
                        </v-select>
                      </div>
                      <div class="proposal-modal-form__field">
                        <div class="proposal-modal-form__label">Опишите свою идею</div>
                        <v-textarea
                          v-model="textField"
                        />
                      </div>
                      <div v-if="routeMainType === 1 && category !== 'other'">
                        <div class="proposal-modal-form__field">
                          <h4 class="proposal-modal__title">Дополнительно:</h4>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Начало маршрута</div>
                          <v-combobox
                            :search-input.sync="geoQueryFrom"
                            :loading="geoResultsFromLoading"
                            :items="geoResultsFrom"
                            placeholder="Откуда"
                            v-model="editorData.description.routeStart"
                            maxlength="90"
                            :menu-props="{maxWidth: 330, contentClass: 'proposal-modal-form__geo-results'}"
                            clearable
                          ></v-combobox>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Конец маршрута</div>
                          <v-combobox
                            :search-input.sync="geoQueryTo"
                            :loading="geoResultsToLoading"
                            :items="geoResultsTo"
                            placeholder="Куда"
                            v-model="editorData.description.routeFinish"
                            maxlength="90"
                            :menu-props="{maxWidth: 330, contentClass: 'proposal-modal-form__geo-results'}"
                            clearable
                          ></v-combobox>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Дни недели</div>
                          <v-select
                            @change="$bus.$emit('addEditorStops', {updateLines: true, noUpdateLineGeometry: true})"
                            v-model="editorData.description.weekDays"
                            :items="editorData.description.weekDaysItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Время суток</div>
                          <v-select
                            @change="$bus.$emit('addEditorStops', {updateLines: true, noUpdateLineGeometry: true})"
                            v-model="editorData.description.dayTime"
                            :items="editorData.description.dayTimeItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Тип транспортного средства</div>
                          <v-select
                            v-model="editorData.description.typeTS"
                            :items="editorData.description.typeTSItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Желаемый интервал движения, мин.</div>
                          <v-text-field
                            v-model="editorData.description.interval"
                            maxlength="4"
                          ></v-text-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="proposal-modal__footer">
                <v-btn @click="closeModalVisible = true" class="proposal-modal__btn">
                  Отменить
                </v-btn>
                <v-btn @click="add" class="proposal-modal__btn proposal-modal__btn_color">
                  Добавить
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-navigation-drawer>
    <div class="loader_all" style="z-index: 100;" v-if="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <v-dialog
      v-model="closeModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal operator-proposals__modal">
        <div class="modal__header">
          <div class="modal__title">Закрыть конструктор?</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="closeModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <p>Если Вы закроете это окно, внесенные Вами изменения не будут сохранены</p>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="closeModalVisible = false">Отмена</button>
          <button v-ripple class="modal__btn modal__btn_color" @click="closeModalVisible = false; modalVisible = false; editorData.currentTS.show = false">Закрыть</button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import CloseIcon from '~/components/svg/CloseIcon';
  import Tabs from '~/components/base/Tabs';
  import Checkbox from '~/components/base/Checkbox';
  import Map from '~/components/Proposal/Map';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from '~/components/map/layers/editor';
  import {mapActions} from 'vuex';
  import {point} from '@turf/helpers';
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import ymaps from 'ymaps';
  import connection from '~/assets/js/connection';

  export default {
    components: {
      CloseIcon,
      Tabs,
      Checkbox,
      Map,
      ArrowIcon,
    },
    data() {
      return {
        loading: false,
        modalVisible: false,
        closeModalVisible: false,
        menuVisible: true,
        activeTab: 0,
        routeMainTypes: [
          {
            text: 'НГПТ',
            value: 1,
          },
          {
            text: 'Канатная дорога',
            value: 2,
          },
        ],
        routeMainType: 1,
        category: 'exist',
        routeID: null,
        textField: '',
        editorData,
        editorHistory,
        search: '',
        geoQueryFrom: '',
        geoQueryTo: '',
        geoResultsFrom: [],
        geoResultsTo: [],
        geoResultsFromLoading: false,
        geoResultsToLoading: false,
      }
    },
    methods: {
      ...mapActions({
        initiateProposal: 'proposals/initiateProposal',
        getStopByRouteID: 'ngpt/getStopByRouteID',
      }),
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      async add() {
        if (this.loading) {
          this.showMessage('error', 'Подождите, идет отправка идеи');
          return;
        }
        let params = {};
        if (this.category === 'exist' && !this.routeID) {
          this.showMessage('error', 'Выберите маршрут');
          return;
        } else {
          params.routeID = this.routeID;
        }
        if (!this.textField.trim().length) {
          this.showMessage('error', 'Опишите свою идею');
          return;
        } else {
          params.reason = this.textField;
        }
        if (this.category !== 'other') {
          params.routeMainType = this.routeMainType;
          if (this.routeMainType === 1) {
            params.desiredFrom = this.editorData.description.routeStart || this.editorData.routeProperties.desiredFrom || '';
            params.desiredTo = this.editorData.description.routeFinish || this.editorData.routeProperties.desiredTo || '';
            params.desiredDays = this.editorData.description.weekDays;
            params.desiredTime = this.editorData.description.dayTime;
            params.desiredVehicleType = this.editorData.description.typeTS;
            if (this.editorData.description.interval.length) {
              params.desiredInterval = +this.editorData.description.interval;
            }
          }
        } else {
          params.routeMainType = 3;
        }
        if (this.activeTab === 1) {
          const mainRouteStops = this.editorData.stopsList.mainRoute.stops.filter(s => s && s.type);
          const backRouteStops = this.editorData.stopsList.backRoute.stops.filter(s => s && s.type);
          if ((!mainRouteStops.length && !backRouteStops.length) || (mainRouteStops.length && mainRouteStops.length === 1) || (backRouteStops.length && backRouteStops.length === 1)) {
            this.showMessage('error', 'Добавьте не менее 2-х остановок');
            return;
          }
          if (this.editorHistory.state.length < 1 || this.editorHistory.ind === 0) {
            this.showMessage('error', 'Внесите изменения в маршрут');
            return;
          }
          if (this.routeMainType === 2) {
            const stopsParams = {};
            stopsParams.mainRoute = this.generateStops('mainRoute');
            stopsParams.mainRoute.sort((a, b) => a.sequenceID - b.sequenceID);
            const fLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.mainRoute[stopsParams.mainRoute.map(s => s.id || s.properties.id).join('-')];
            const fgeom = [fLine.geometry.coordinates];
            const stopsNew = [];
            stopsParams.mainRoute.forEach(s => {
              stopsNew.push({
                id: s.id || s.properties.id,
                color: "#0080ff",
                coordinates: s.geometry.coordinates,
                fullname: s.properties.name,
                name: s.properties.name,
                sequenceID: s.properties.sequenceID
              })
            });

            params = {
              ...params,
              fgeom,
              title: this.editorData.newProposal.title,
              reason: this.textField,
              forwardStopsParams: {
                stopUpd: [],
                stopsDel: [],
                stopsNew: stopsNew
              },
              districts: this.editorData.routeProperties.districts,
              divisions: this.editorData.routeProperties.divisions,
              metroStations: this.editorData.routeProperties.metroStations,
              forwardLength: fLine.distance,
              forwardTime: fLine.duration,
              forwardSpeed: fLine.speed
            };

          } else {
            const stopsParams = {};

            stopsParams.mainRoute = this.generateStops('mainRoute');
            stopsParams.backRoute = this.generateStops('backRoute');
            const historyData = this.editorHistory.state[0].editorData;
            const currentData = stopsParams;
            historyData.stopsList.mainRoute.stops.sort((a, b) => a.sequenceID - b.sequenceID);
            historyData.stopsList.backRoute.stops.sort((a, b) => a.sequenceID - b.sequenceID);
            currentData.mainRoute.sort((a, b) => a.properties.sequenceID - b.properties.sequenceID);
            currentData.backRoute.sort((a, b) => a.properties.sequenceID - b.properties.sequenceID);

            const forwardStopsParams = {
              stopsDel: historyData.stopsList.mainRoute.stops
                .filter(oldStop => !currentData.mainRoute.find(curStop => curStop.id === oldStop.value))
                .map(stop => {
                  const dStop = (this.stopsById[stop.value] || this.allStopsById[stop.value]);
                  return {
                    id: dStop.id,
                    stopID: dStop.properties.stopID,
                    coordinates: dStop.geometry.coordinates,
                    name: dStop.properties.name,
                    sequenceID: dStop.properties.sequenceID,
                  }
                }),
              stopsNew: currentData.mainRoute
                .filter(stop => !historyData.stopsList.mainRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => ({
                  id: stop.id || stop.properties.id,
                  coordinates: stop.geometry.coordinates,
                  name: stop.properties.name,
                  fullname: stop.properties.fullname || stop.properties.name,
                  sequenceID: stop.properties.sequenceID
                })),
              stopUpd: currentData.mainRoute
                .filter(stop => historyData.stopsList.mainRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  return {
                    id: stop.id,
                    stopID: stop.properties.stopID,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname,
                    sequenceID: stop.properties.sequenceID
                  }
                })
            };

            const fLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.mainRoute[stopsParams.mainRoute.map(s => s.id || s.properties.id).join('-')];
            const fgeom = fLine ? fLine.geometry.coordinates : [];

            const backwardStopsParams = {
              stopsDel: historyData.stopsList.backRoute.stops
                .filter(oldStop => !currentData.backRoute.find(curStop => curStop.id === oldStop.value))
                .map(stop => {
                  const dStop = (this.stopsById[stop.value] || this.allStopsById[stop.value]);
                  return {
                    id: dStop.id,
                    stopID: dStop.properties.stopID,
                    coordinates: dStop.geometry.coordinates,
                    name: dStop.properties.name,
                    sequenceID: dStop.properties.sequenceID,
                  }
                }),
              stopsNew: currentData.backRoute
                .filter(stop => !historyData.stopsList.backRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => ({
                  id: stop.id || stop.properties.id,
                  coordinates: stop.geometry.coordinates,
                  name: stop.properties.name,
                  fullname: stop.properties.fullname || stop.properties.name,
                  sequenceID: stop.properties.sequenceID
                })),
              stopUpd: currentData.backRoute
                .filter(stop => historyData.stopsList.backRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  return {
                    id: stop.id,
                    stopID: stop.properties.stopID,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname,
                    sequenceID: stop.properties.sequenceID
                  }
                })
            };

            const bLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.backRoute[stopsParams.backRoute.map(s => s.id || s.properties.id).join('-')];
            const bgeom = bLine ? bLine.geometry.coordinates : [];

            params = {
              ...params,
              title: this.editorData.newProposal.title,
              reason: this.textField,
              forwardStopsParams,
              backwardStopsParams,
              fgeom,
              bgeom,
              commentary: this.$store.state.proposals.newProposal.fulldesc,
              districts: this.editorData.routeProperties.districts,
              divisions: this.editorData.routeProperties.divisions,
              metroStations: this.editorData.routeProperties.metroStations,
            };

            if (fLine || bLine) {
              params.summaryLength = 0;
              params.summaryTime = 0;
              if (fLine) {
                params.forwardLength = fLine.distance;
                params.summaryLength += fLine.distance;
                params.forwardTime = fLine.duration;
                params.summaryTime += fLine.duration;
                if (fLine.speed) {
                  params.forwardSpeed = fLine.speed;
                }
              }

              if (bLine) {
                params.backwardLength = bLine.distance;
                params.summaryLength += bLine.distance;
                params.backwardTime = bLine.duration;
                params.summaryTime += bLine.duration;
                if (bLine.speed) {
                  params.backwardSpeed = bLine.speed;
                }
              }
            }
          }
        }

        if (this.editorData.description.interval.length && !Number.isInteger(+editorData.description.interval)) {
          this.showMessage('error', 'Желаемый интервал движения должен быть числом');
          return;
        }

        this.loading = true;

        if (this.activeTab === 0 && this.category === 'exist' && this.routeMainType === 1) {
          params = {
            ...params,
            ...await this.getRouteParams()
          }
        }

        this.initiateProposal(params)
          .then(data => {
            if (data.error) {
              console.info(data);
              this.showMessage('error', 'Ошибка!');
            } else {
              this.showMessage('success', 'Спасибо! Ваша идея будет учтена!');
              if (this.activeTab === 1) {
                this.$bus.$emit('initMap');
              }
              this.formReset();
              this.modalVisible = false;
            }
            this.loading = false;
          })
          .catch(e => {
            console.info(e);
            this.showMessage('error', 'Ошибка!');
            this.loading = false;
          });
      },
      generateStops(routeName) {
        const {
          stopsList,
        } = this.editorHistory.state[this.editorHistory.ind].editorData;

        return stopsList[routeName].stops.filter(stop => {
          if (stop && stop.type === 'master') {
            return true;
          }
          if (stop && stop.type === 'user') {
            return stop.enabled
          }
        }).map((stop, ind) => {
          if (stop.type === 'master') {
            const stopData = this.stopsById[stop.value] || this.allStopsById[stop.value];
            return {
              ...stopData,
              properties: {
                ...stopData.properties,
                sequenceID: ind + 1
              }
            };
          }
          if (stop.type === 'user') {
            return point(stop.coordinates, {
              id: stop.id,
              name: stop.text,
              sequenceID: ind + 1,
              type: 'user',
            })
          }
        });

      },
      toggleModalVisible(modalVisible) {
        this.modalVisible = modalVisible;
      },
      onCategoryChange(category) {
        this.category = category;
        this.routeID = null;
        this.routeMainType = 1;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
      },
      onRouteIDChange(routeID) {
        this.routeID = routeID;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
      },
      onRouteMainTypeChange(routeMainType) {
        this.routeMainType = routeMainType;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
      },
      formReset() {
        this.category = 'exist';
        this.routeID = null;
        this.routeMainType = 1;
        this.textField = '';
        this.editorData.description.routeStart = '';
        this.editorData.description.routeFinish = '';
        this.editorData.description.weekDays = 'Все';
        this.editorData.description.dayTime = 'Любое';
        this.editorData.description.typeTS = 'Любой';
        this.editorData.description.interval = '20';
      },
      getGeoResults(query) {
        return new Promise((resolve) => {
          this.searchControl.search(query).then(() => {
            const searchResults = [];
            this.searchControl.getResultsArray().forEach(r => {
              let address = r.properties.get('address');
              let description = r.properties.get('description');
              if (address.includes('Моск')) {
                description = description.replace('Россия, Москва', '');
                description = description.replace('Россия, Московская область', 'Московская область');
                description = description.replace(', Москва, Россия', '');
                searchResults.push({
                  coordinates: r.geometry.getCoordinates().reverse(),
                  name: r.properties.get('name') + (description.length ? `, ${description}` : '')
                })
              }
            });
            resolve(searchResults);
          });
        });
      },
      async getRouteLine(coordinates) {
        if (coordinates.length > 1) {
          return await this.$axios.$get(`${connection.getAddress()}/directions/v1/buses/${coordinates.join(';')}`);
        }
        return {
          districts: [],
          divisions: [],
          metroStations: [],
          routes: [
            {
              geometry: {
                coordinates: []
              },
              distance: 0,
              duration: 0,
              speed: 0,
            }
          ]
        }
      },
      async getRouteParams() {
        await this.getStopByRouteID(this.routeID);
        const forwardStopsParams = {stopUpd: [], stopsDel: [], stopsNew: []};
        const backwardStopsParams = {stopUpd: [], stopsDel: [], stopsNew: []};
        this.$store.state.ngpt.stopByRouteID.forEach(s => {
          const stop = {
            id: s.id,
            stopID: s.properties.stopID,
            coordinates: s.geometry.coordinates,
            name: s.properties.name,
            fullname: s.properties.fullname,
            sequenceID: s.properties.sequenceID
          };
          if (s.properties.dir === 0) {
            forwardStopsParams.stopUpd.push(stop);
          }
          if (s.properties.dir === 1) {
            backwardStopsParams.stopUpd.push(stop);
          }
        });
        forwardStopsParams.stopUpd.sort((a, b) => a.sequenceID - b.sequenceID);
        backwardStopsParams.stopUpd.sort((a, b) => a.sequenceID - b.sequenceID);
        const fline = await this.getRouteLine(forwardStopsParams.stopUpd.map(s => s.coordinates));
        const bline = await this.getRouteLine(backwardStopsParams.stopUpd.map(s => s.coordinates));
        return {
          forwardStopsParams,
          backwardStopsParams,
          fgeom: fline.routes[0].geometry.coordinates,
          bgeom: bline.routes[0].geometry.coordinates,
          forwardSpeed: fline.routes[0].speed,
          forwardLength: fline.routes[0].distance,
          forwardTime: fline.routes[0].duration,
          backwardLength: bline.routes[0].distance,
          backwardTime: bline.routes[0].duration,
          backwardSpeed: bline.routes[0].speed,
          districts: [...new Set((fline.districts || []).concat(bline.districts || []))],
          divisions: [...new Set((fline.divisions || []).concat(bline.divisions || []))],
          metroStations: [...new Set((fline.metroStations || []).concat(bline.metroStations || []))],
          desiredFrom: this.editorData.description.routeStart || (forwardStopsParams.stopUpd.length ? forwardStopsParams.stopUpd[0].name : ''),
          desiredTo: this.editorData.description.routeFinish || (forwardStopsParams.stopUpd.length ? forwardStopsParams.stopUpd[forwardStopsParams.stopUpd.length - 1].name : ''),
        };
      }
    },
    computed: {
      stopsById() {
        return this.$store.state.ngpt.stopsById;
      },
      tabs() {
        return [
          {
            name: 'Описать словами',
            value: 'simple',
          },
          {
            name: 'Нарисовать на карте',
            value: 'advanced',
            disabled: this.category === 'other',
          },
        ]
      },
      categories() {
        const categories = [
          {
            name: 'Изменение существующего маршрута',
            value: 'exist',
          },
          {
            name: 'Создание нового маршрута',
            value: 'new',
          },
        ];
        if (this.activeTab === 0) {
          categories.push({
            name: 'Другое',
            value: 'other',
          });
        }
        return categories;
      },
      routesData() {
        return JSON.parse(JSON.stringify(this.$store.state.ngpt.routes)).filter(r => r.dir === 0).map(r => ({
          ...r,
          name: `${r.name} - ${r.fullname}`,
          searchName: `${r.name} - ${r.fullname}`.toLowerCase(),
        })).sort((a, b) => a.name.localeCompare(b.name));
      },
      routes() {
        if (this.search && this.search.length) {
          const query = this.search.toLowerCase();
          return [...this.routesData]
            .sort((a, b) =>
              a.searchName.indexOf(query) - b.searchName.indexOf(query)
            );
        }
        return this.routesData;
      }
    },
    watch: {
      modalVisible(visible) {
        this.activeTab = 0;
        this.menuVisible = true;
        this.formReset();
        document.documentElement.style.overflow = visible ? 'hidden' : 'auto';
      },
      menuVisible() {
        this.$nuxt.$nextTick(() => this.$bus.$emit('resizeMap'));
      },
      geoQueryFrom(query) {
        if (this.geoResultsFrom.includes(query)) {
          return;
        }
        this.geoResultsFrom = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsFromLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsFrom = results.map(r => r.name);
                this.geoResultsFromLoading = false;
              });
          }
        }, 400);
      },
      geoQueryTo(query) {
        if (this.geoResultsTo.includes(query)) {
          return;
        }
        this.geoResultsTo = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsToLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsTo = results.map(r => r.name);
                this.geoResultsToLoading = false;
              });
          }
        }, 400);
      }
    },
    mounted() {
      this.$bus.$on('toggleModalVisible', this.toggleModalVisible);

      ymaps.load('https://api-maps.yandex.ru/2.1/?apikey=f1d03e63-82b9-4586-8be2-5723669ef7eb&lang=ru_RU')
        .then(ymaps => {
          this.ymaps = ymaps;
          this.searchControl = new ymaps.control.SearchControl({
            options: {
              provider: 'yandex#search',
              boundedBy: [[55.575450, 37.365846,], [55.910173, 37.839631]],
            }
          });
        })
    },
    beforeDestroy() {
      this.$bus.$off('toggleModalVisible', this.toggleModalVisible);
    }
  }
</script>

<style lang="scss">
  .proposal-modal {
    z-index: 100 !important;
    overflow: visible;

    .v-navigation-drawer__content {
      overflow: visible;
    }

    &__overlay {
      position: fixed;
      right: 100%;
      top: 0;
      width: 100vw;
      bottom: 0;
      z-index: -1;
      background-color: rgb(33, 33, 33);
      opacity: .75;
    }

    &_advanced {
      width: 100% !important;
    }

    &__wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #fff;
      overflow: hidden;
    }

    &__container {
      height: 100%;
      display: flex;
    }

    &__editor {
      flex-grow: 1;
      position: relative;

      &-footer {
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 1px);
        background-color: #fff;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
      padding-right: 23px;
      min-height: 64px;
    }

    &__header-btn {
      height: 100%;
      padding: 5px;
      border-right: 1px solid #ebebeb;
      min-height: 64px;

      svg {
        transform: rotate(180deg);
        transition: transform 0.175s;
      }
    }

    &__menu {
      width: 400px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #ebebeb;

      &_hidden {
        width: 22px;

        .proposal-modal__header-btn {
          svg {
            transform: rotate(0deg);
          }
        }

        .proposal-modal__body,
        .proposal-modal__title,
        .proposal-modal__close-btn,
        .proposal-modal__footer {
          display: none;
        }
      }
    }

    &__footer {
      border-top: 1px solid #ebebeb;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
      flex-shrink: 0;
      margin-top: auto;
    }

    &__btn {
      font-weight: 300 !important;
      padding: 0 27px !important;
      text-transform: uppercase !important;
      font-size: 14px !important;
      height: 40px !important;
      min-width: 135px !important;
      background-color: transparent !important;
      border: 1px solid #ebebeb !important;

      &_color {
        background-color: #1A66CC !important;
        color: #fff !important;
        border: 0 !important;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 300;
      padding: 17px 23px 16px;
    }

    &__close-btn {
      padding: 0 8px;
      margin-left: 15px;
      position: relative;
      right: -6px;
      bottom: 3px;
    }

    &__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    &__tabs {
      margin: 0 auto 21px;

      &.nav-pills-big {
        border-radius: 5px;

        .nav-link {
          font-size: 14px;
          font-weight: 300;
          padding: 12px 14px;
          height: 41px;
        }
      }
    }
  }

  .proposal-modal-editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50px;
    border-bottom: 1px solid #ebebeb;
  }

  .proposal-modal-form {
    &__label {
      font-size: 16px;
      margin-bottom: 3px;
    }

    &__field {
      margin-bottom: 17px;

      .proposal-modal__title {
        padding: 17px 0 16px;
      }

      .v-text-field {
        padding-top: 0;
        margin-top: 0;
      }

      .v-select {
        margin: 0 0 27px;

        .v-select__slot > input {
          font-size: 15px !important;
          font-weight: 300;

          &::placeholder {
            color: rgba(0, 0, 0, 0.87);
          }
        }

        .mdi-close {
          font-size: 16px;
        }
      }

      .v-textarea {
        margin-top: 0;

        .v-input__slot:before,
        .v-input__slot:after {
          display: none;
        }

        textarea {
          border: 1px solid #ebebeb;
          border-radius: 5px;
          height: 200px;
          padding: 5px 10px;
        }
      }

      .checkbox__label {
        font-weight: 300;
      }

      &_radio {
        .checkbox {
          margin-bottom: 7px;

          .checkbox__label {
            margin-left: 10px;
          }

          .checkbox__input:checked + .checkbox__icon {
            border-color: #092360;

            &::before {
              background-color: #092360;
            }

            &::after {
              background-color: #092360;
            }
          }
        }
      }

      &_checkbox {
        margin-top: -10px;

        .checkbox__label {
          margin-left: 21px;
          line-height: 19px;
          max-width: 240px;
        }

        .checkbox__input:checked + .checkbox__icon {
          border-color: #092360;
          background-color: #092360;

          &::before {
            background-color: #092360;
          }
        }
      }
    }

    &__link {
      color: #2b7ae6;
    }

    &__geo-results {
      .v-list-item__title, .v-list-item__subtitle {
        white-space: normal;
      }
    }
  }
</style>
