<template>
  <ul class="nav nav-pills nav-pills-big nav-hash-ul" role="tablist">
    <li
      class="nav-item"
      v-for="(item, key) in items"
      :key="key"
    >
      <nuxt-link
        class="nav-link"
        :to="item.to"
        :class="{
                'nav-link_mac-fix': macOS
            }"
      >
        {{item.name}} <span class="badge">{{item.count}}</span>
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
  export default {
    props: ['items'],
    computed: {
      macOS() {
        return navigator.platform.match('Mac') !== null;
      }
    }
  }
</script>
