<template>
  <div class="modal">
    <div class="modal__header">
      <div class="modal__title">
        Предложить идею по маршруту {{route.name}}
      </div>
      <button  v-tooltip="'Закрыть'" class="modal__close-btn" @click="$emit('update:modalVisible', false)">
        <CloseIcon class="modal__close-icon"/>
      </button>
    </div>
    <div class="modal__body">
      <p>Предложите свой вариант маршрута, изменив его длину или остановки. Вы можете отправить только одно предложение по улучшению.</p>
      <div class="modal-map">
        <div id="modal-map"></div>
        <div class="map-controls map-controls_modal">
          <input type="checkbox" id="match" checked>
          <div class="info-container" id="info-length">
            <table>
              <caption>Информация по маршруту</caption>
              <tr>
                <th>Длина в прямом направлении</th>
                <td id="info-A"></td>
              </tr>
              <tr>
                <th>Длина в обратном направлении</th>
                <td id="info-B"></td>
              </tr>
              <tr>
                <th>Длина оборотного рейса</th>
                <td id="info-C"></td>
              </tr>
              <tr>
                <th>Количество ТС на маршруте</th>
                <td id="info-D"></td>
              </tr>
              <tr>
                <th>Средний интервал движения</th>
                <td id="info-E"></td>
              </tr>
            </table>
            <div class="info-show"></div>
          </div>
          <div class="info-container" id="info-block">
            <p><b>Выбор маршрута/остановки</b> – клик по линии маршрута/знаку остановки.</p>
            <p><b>Центрировать карту на геометрии маршрута</b> – нажать кнопку «Вернуться на маршрут».</p>
            <p><b>Создание новой остановки</b> – нажать кнопку «Добавить остановку» и кликом указать на карте месторасположение остановки.</p>
            <p><b>Перенос остановки</b> – клик по знаку остановки и перенос с помощью левой кнопки мыши. Остановка должна быть перемещена только в пределах выделенной зоны.</p>
            <p><b>Удаление остановки</b> – выделить остановку и нажать кнопку «Удалить»</p>
            <p><b>Отмена действия</b> – нажать кнопку «Отменить действие».</p>
            <p><b>Возврат действия</b> – нажать кнопку «Вернуть действие».</p>
            <p><b>Отмена всех изменений </b> – нажать кнопку «Сбросить изменения».</p>
          </div>
        </div>
      </div>
      <div class="modal__row">
        <div class="modal__field">
          <label class="modal__label" for="description">Комментарий</label>
          <textarea v-model="suggestionComment" class="modal__textarea save-data-textarea" name="description" id="description"
                    cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button v-ripple class="modal__btn" @click="$emit('update:modalVisible', false)">Отменить</button>
      <button
        disabled
        v-ripple
        class="modal__btn modal__btn_color save-data-btn"
        @click="sendSuggestion"
      >
        Отправить предложение по маршруту
      </button>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import * as MapboxDraw from '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw';
  import CloseIcon from '~/components/svg/CloseIcon';
  import * as turf from '@turf/turf'
  import {metro} from '~/components/map/layers/metro';
  import {jd} from '~/components/map/layers/jd';
  import connection from '~/assets/js/connection';

  export default {
    props: [
      'modal-visible',
      'map-loaded',
      'route',
      'metro',
      'metro-icons',
      'vote',
      'bounds',
      'legend'
    ],
    mixins: [
      metro,
      jd
    ],
    components: {
      CloseIcon
    },
    data() {
      return {
        suggestionComment: '',
      }
    },
    methods: {
      async sendSuggestion() {
        const steps = JSON.parse(localStorage.getItem("forwardSteps"));
        const mapData = steps[steps.length - 1].features;
        console.log(mapData.filter(item => item.geometry.type === 'Point'))
        const data = await this.initiateProposal({
          reason: this.suggestionComment,
          routeID: this.vote.routeID,
          forwardStopsParams: {
            stopUpd: mapData.filter(item => item.geometry.type === 'Point').map(stop => {
              return {
                coordinates: stop.geometry.coordinates,
                sequenceID: stop.properties.sequenceID,
                name: stop.properties.name,
                fullname: stop.properties.fullname,
              }
            })
          }
        });
        this.$emit('update:modalVisible', false);
        if (data.error) {
          this.$snotify.error(
            'Ошибка!',
            {
              position: 'centerTop',
              titleMaxLength: 100
            }
          );
        } else {
          this.$snotify.success(
            'Спасибо! Ваша идея будет учтена!',
            {
              position: 'centerTop',
              titleMaxLength: 100
            }
          );
        }
      },
      showDistricts(map) {
        const districts = this.$store.state.districts.districts;
        const routeDistricts = this.route.districts.map(item => item.toLowerCase());
        const features = districts.filter(d => routeDistricts.includes(d.properties.name.toLowerCase()));
        map.addLayer({
          id: 'districts',
          type: 'fill',
          source: {
            type: 'geojson',
            data: {
              features,
              type: 'FeatureCollection',
            }
          },
          layout: {},
          paint: {
            'fill-color': 'rgba(1, 148, 211, 0.1)',
            'fill-outline-color': 'transparent'
          }
        });
        map.addLayer({
          id: 'districts-border',
          type: 'line',
          source: {
            type: 'geojson',
            data: {
              features,
              type: 'FeatureCollection',
            }
          },
          layout: {
            'line-join': 'round',
            'line-cap': 'round',
          },
          paint: {
            'line-color': '#fff',
            'line-width': 2,
          }
        });
        map.addLayer({
          id: 'districts-names',
          type: 'symbol',
          source: {
            type: 'geojson',
            data: {
              features,
              type: 'FeatureCollection',
            }
          },
          layout: {
            'text-field': ['get', 'name'],
            'text-size': 14,
          },
        });

        this.addMetroStations(map);
        // this.addJdStations(map);

        let fullScreenChange;

        if ('onfullscreenchange' in window.document) {
          fullScreenChange = 'fullscreenchange';
        } else if ('onmozfullscreenchange' in window.document) {
          fullScreenChange = 'mozfullscreenchange';
        } else if ('onwebkitfullscreenchange' in window.document) {
          fullScreenChange = 'webkitfullscreenchange';
        } else if ('onmsfullscreenchange' in window.document) {
          fullScreenChange = 'MSFullscreenChange';
        }
        window.document.addEventListener(fullScreenChange, () => this.onFullscreenChange(map));
      },
      onFullscreenChange(map) {
        map.resize();
        setTimeout(() => {
          map.fitBounds(this.bounds, {
            padding: 20,
            duration: 0,
          });
        }, 1000);
      },
      ...mapActions({
        getDistricts: 'districts/getDistricts',
        initiateProposal: 'proposals/initiateProposal',
      }),
    },
    async mounted() {
      const component = this;
      this.$emit('update:map-loaded', true);
      const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
      const polyline = require('@mapbox/polyline');
      const setPermalink = require('~/assets/js/auxiliary/permalink.js').default;
      const {getTimeStr} = require('~/assets/js/auxiliary/time.js');
      const {setControl, getSteps, updateSaveDataBtn} = require('~/assets/js/auxiliary/control.js');
      const {setDirectionInfo, updateDirectionInfo} = require('~/assets/js/auxiliary/length.js');

      if(!this.$store.state.districts.districts.length) {
        await this.getDistricts();
      }

      const saveDataTextArea = document.querySelector('.save-data-textarea');

      saveDataTextArea.addEventListener('input', () => {
        const steps = JSON.parse(localStorage.getItem("forwardSteps"));
        updateSaveDataBtn(steps.length < 2);
      });

      // map-js


      // const setPermalink = require('~/assets/js/auxiliary/permalink.js').default;
      // console.info(999, setPermalink);


      localStorage.setItem("forwardSteps", JSON.stringify([]));
      localStorage.setItem("backSteps", JSON.stringify([]));
      let startData = {};

      let loadingStops = false;
      let loadingRoutes = false;

      function loadingData(data) {
        if (loadingStops && loadingRoutes) {
          startData = {...data.getAll()};
          let steps = JSON.parse(localStorage.getItem("forwardSteps"));
          steps.push(startData);
          localStorage.setItem("forwardSteps", JSON.stringify(steps));
        }
      }
      let routeIDs = [];
      function isInRoutesArea(draw, point, map) { // принимает lngLat [float, float]
        let d = 0.06; // максимальное расстояние от маршрута в километрах
        for (let i in routeIDs) {
          let f = draw.get(routeIDs[i]);
          let p = turf.point(point);
          let b = turf.buffer(f, d, {units: 'kilometers'})
          let pointInRadius = turf.booleanPointInPolygon(p, b);
          if (pointInRadius) {
            return true;
          }
        }

        setTimeout(() => {
          new mapboxgl.Popup()
            .setLngLat(point)
            .setHTML('<div class="modal-map__message">В выбранной области не проходит ни одного маршрута</div>')
            .addTo(map);
        })

        return false;
      }
      function distance(p1, p2) {
        return Math.sqrt(Math.pow(p2.x - p1.x, 2) + Math.pow(p2.y - p1.y, 2));
      }

// Запрос в MapMatching API
      function getMatch(draw, feature, coordinates,radius,profile) {
        let query = `https://api.mapbox.com/matching/v5/mapbox/${profile}?access_token=${mapboxgl.accessToken}`;
        (async () => {
          try {
            let response = await fetch(query, {
              headers: {
                "Accept": "application/json",
                "Content-Type": "application/x-www-form-urlencoded"
              },
              method: "POST",
              body: `coordinates=${coordinates}`
            });
            let data = await response.json();
            let coordsEncoded = data.matchings[0].geometry;
            // Парсинг закодированной геометрии
            let coordsDecoded = polyline.decode(coordsEncoded);
            coordsDecoded.forEach(function(elem){
              elem.reverse();
            });
            coordsDecoded = {
              coordinates : coordsDecoded,
              type : "LineString"
            };
            let matchedRoute = {
              "type": "Feature",
              "id": feature.id,
              "properties": feature.properties,
              "geometry": coordsDecoded
            };
            addRoute(draw, matchedRoute);
            getSteps(draw);
            updateDirectionInfo(draw, getTimeStr);
          }
          catch (e) {
            console.log("fetch error", e);
          }
        })();
      }
// [19w25d2a] стабильность отрисовки точек на маршруте (1)
      let trying = false; // производятся ли попытки найти точки draw
      let breakFlag = false; // нужно ли экстренно первать поиск
      let recursionLevel = 0; // сколько попыток подряд было совершено
      let filtersChanged = true; // [19w25d5] новый флаг, показывающий изменились ли фильтры
      function updatePoints() { // [19w25d5] функция переписана
        let d = 25;
        let s = map.getSource("mapbox-gl-draw-cold");
        // console.log(s);
        if (s) {
          let geoJSON = {"type":"FeatureCollection","features":[]};
          let mountPoint = null;
          let drawPointsFound = false; // были ли найдены точки draw за этот цикл
          for (let i in s["_data"].features) {
            if (breakFlag) {
              breakFlag = false;
              return null;
            }
            let f = s["_data"].features[i];
            if (f.properties.meta === "vertex" || f.properties.meta === "midpoint") {
              drawPointsFound = true;
              if (mountPoint === null) {
                f.properties.eik4 = 1;
                mountPoint = f;
              } else {
                let beg = map.project(f.geometry.coordinates);
                let fin = map.project(mountPoint.geometry.coordinates);
                // console.log(distance(beg, fin));
                if (distance(beg, fin) > d && !(f.properties.meta === "midpoint" && mountPoint.properties.meta === "midpoint")) {
                  f.properties.eik4 = 1;
                  mountPoint = f;
                }
                else {
                  f.properties.eik4 = 0;
                }
              }
            }
            geoJSON.features.push(f);
          }
          if (drawPointsFound) { // точки draw найдены
            trying = false; // перестаем пытаться найти их снова
            recursionLevel = 0; // обнуляем количество попыток подряд
            s.setData(geoJSON); // обновляем геометрии на карте
          }
          else { // точки draw не найдены
            trying = true; // пытаемся найти их снова
            recursionLevel += 1; // +1 попытка подряд
            // console.log("recursion level", recursionLevel);
            if (recursionLevel < 100) { // ограничение на количество попыток
              setTimeout(function () {
                if (recursionLevel > 5 && !filtersChanged) {
                  console.log("change filters");
                  filtersChanged = true;
                  let arr = map.getFilter("gl-draw-polygon-and-line-vertex-inactive.cold");
                  arr.pop();
                  map.setFilter("gl-draw-polygon-and-line-vertex-inactive.cold", arr);
                  // arr = map.getFilter("gl-draw-polygon-and-line-vertex-stroke-inactive.cold");
                  // arr.pop();
                  // map.setFilter("gl-draw-polygon-and-line-vertex-stroke-inactive.cold", [...arr]);
                }
                updatePoints();
              }, 250);
            }
            else {
              console.log("change filter");
              // let arr = map.getFilter("gl-draw-polygon-and-line-vertex-inactive.cold");
              // // console.log([...arr]);
              // arr.pop();
              // map.setFilter("gl-draw-polygon-and-line-vertex-inactive.cold", arr);
              // arr = map.getFilter("gl-draw-polygon-and-line-vertex-stroke-inactive.cold");
              // arr.pop();
              // map.setFilter("gl-draw-polygon-and-line-vertex-stroke-inactive.cold", [...arr]);
              // map.getSource("mapbox-gl-draw-cold").setData(s["_data"]);
            }
          }
        }
      }
      function customizePointsFromEik4() {
        if (trying) { // если в момент вызова все еще пытаемся найти точки draw
          breakFlag = true; // то экстренно прерывает цикл
        }
        updatePoints();
      }
      function removeRoute() {
        if (map.getSource("route")) {
          map.removeLayer("route");
          map.removeSource("route");
        }
        map.getStyle().layers.filter(l => {
          if (l.id === "stopArea") {
            map.removeLayer("stopArea");
            map.removeSource("stopArea");
          }
          if (l.id === "stopArea_border") {
            map.removeLayer("stopArea_border");
            map.removeSource("stopArea_border");
          }
        });
      }
      function addRoute(draw, matchedRoute) {
        // Если маршрут уже загружен, то лучше его удалить
        if (map.getSource("route")) {
          map.removeLayer("route");
          map.removeSource("route");
        } else {
          // Добавим объект в Draw
          draw.add(matchedRoute);
          draw.changeMode("direct_select", { featureId: matchedRoute.id });
        }
      }
      let check = document.getElementById("match");
      let info = document.getElementById("info-length");
      let arrow = document.querySelector(".info-show");
      console.log(arrow);
      arrow.addEventListener("click", function() {
        info.classList.toggle("active");
        if (info.classList.contains("active")) {
          info.style.maxWidth = info.scrollWidth + "px";
        } else {
          info.style.maxWidth = "0";
        }
      });
      mapboxgl.accessToken = "pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw";
// mapboxgl.accessToken = "pk.eyJ1Ijoidm9yY2h1bjMyNSIsImEiOiJjam5icDczZjM1aWRkM3dvOGl6d2pyaDdkIn0.QDmcFSHpGRhfL1ZKB1p0Lw";
      const mapStyle = require('../../static/style.json');
      let map = new mapboxgl.Map({
        container: "modal-map",
        // style: "mapbox://styles/mapbox/light-v9",
        style: mapStyle,
        // center: [37.6155600, 55.7522200],
        center: [37.61556, 55.75222],
        bearing: 0,
        zoom: 13
      });
      let language = new MapboxLanguage({defaultLanguage: "ru"});
      map.addControl(language);
      async function loadData(draw) {
        let routeID = component.route.routeID;
        let urlRoutes = `${connection.getAddress()}/moscow/polls/ngpt/routes/byRouteID/${routeID}`;
        let urlStops = `${connection.getAddress()}/moscow/polls/ngpt/stops/byRouteID/${routeID}`;
        (async () => {
          try {
            let response = await fetch(urlRoutes, {
              headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
              },
              method: "GET",
            });
            let data = await response.json();
            setDirectionInfo(data, getTimeStr);
            data.features.forEach(function(d) {
              routeIDs.push(d.id); // [19w25d2a] остановки недалеко от маршрута (2): запоминаем id маршрутов
              // setDirectionInfo(d, getTimeStr);
              draw.add(d);
            });
            loadingRoutes = true;
            loadingData(draw);
            //isInRoutesArea(draw, [57, 34]); // [19w25d2a] остановки недалеко от маршрута (2): пример вызова

            // isInRoutesArea(draw, [57, 34]); // [19w25d2a] остановки недалеко от маршрута (2): пример вызова




            // Закоментировать, если не нужно зумироваться на маршрут
            // let coordinates = data.features[0].geometry.coordinates;
            // var bounds = coordinates.reduce(function(bounds, coord) {
            //   return bounds.extend(coord);
            // }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
            map.fitBounds(component.bounds, {
              padding: 20
            });
          } catch (e) {
            console.log("fetch error", e);
          }
        })();
        (async () => {
          try {
            let response = await fetch(urlStops, {
              headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
              },
              method: "GET",
            });
            let data = await response.json();
            let stopsCount = [];

            data.features.forEach(function(d) {
              if(!stopsCount[d.properties.dir]) stopsCount[d.properties.dir] = [];
              stopsCount[d.properties.dir].push(d.properties.sequenceID);
            });
            console.log("stops", stopsCount);
            data.features.forEach(function(d) {
              if (d.properties.name) {
                if(d.properties.sequenceID === stopsCount[d.properties.dir][0] || d.properties.sequenceID === stopsCount[d.properties.dir][stopsCount[d.properties.dir].length - 1]) {
                  d.properties.pic = "bus_edge";
                } else {
                  d.properties.pic = d.properties.dir === 0 ? 'ngpt-mainRoute-icon' : 'ngpt-backRoute-icon';
                }
              } else {
                d.properties.pic = "bus_new";
              }
              // eik4: заполняем объект
              console.log([...d.geometry.coordinates])
              stop[d.id] = [...d.geometry.coordinates];
              draw.add(d);
            });
            loadingStops = true;
            loadingData(draw);
          }
          catch (e) {
            console.log("fetch error", e);
          }
        })();

      }
// eik4: объект с остановками, ключ - id, значение - lnglat-координаты
      let stop = {};
// eik4: информация о кликнутой остановке
      let clickedStop = {
        id: null, // eik4: id кликнутой остановки, null - если ни одна остановка не кликнута
        circle: null // eik4: 50м вокруг остановки, null - если ни одна остановка не кликнута
      };
      let modes = MapboxDraw.modes;
      modes.direct_select.onDrag = function(state, e) {
        if (state.selectedCoordPaths.length === 0) {
          return;
        }
        if (state.canDragMove !== true) return;
        state.dragMoving = true;
        e.originalEvent.stopPropagation();
        const delta = {
          lng: e.lngLat.lng - state.dragMoveLocation.lng,
          lat: e.lngLat.lat - state.dragMoveLocation.lat
        };
        if (state.selectedCoordPaths.length > 0) this.dragVertex(state, e, delta);
        else this.dragFeature(state, e, delta);

        state.dragMoveLocation = e.lngLat;
      };
      modes.simple_select.onDrag = function(state, e) {
        let feature = this.getSelected();
        if (feature[0]) {
          if (feature[0].type === "LineString") {
            return
          }
        }
        if (state.canDragMove) return this.dragMove(state, e);
        if (this.drawConfig.boxSelect && state.canBoxSelect) return this.whileBoxSelect(state, e);
        console.log(e);
      };
// modes.simple_select.onClick = function(e,t) {
//         return r(t) ? this.clickNoTarget(e, t) : f.isActiveFeature(t) ? this.clickActiveFeature(e, t) : s(t) ? this.clickInactive(e, t) : void this.stopDragging(e)
// }
      map.on("load", function() {
        map.addControl(new mapboxgl.FullscreenControl());
        const fullScreenBtn = document.querySelector('.modal-map .mapboxgl-ctrl-fullscreen');
        fullScreenBtn.setAttribute('title', 'На весь экран');
        fullScreenBtn.addEventListener('mouseenter', () => {
          fullScreenBtn.setAttribute('title', 'На весь экран')
        });
        component.showDistricts(map);
        let hash = window.location.hash.split("#")[1];
        let c = [];
        let z = 10;
        if (hash && hash.split(",")) {
          c = [hash.split(",")[0], hash.split(",")[1]];
          z = hash.split(",")[2];
        } else {
          c = [this.getCenter().lng, this.getCenter().lat];
          z = this.getZoom();
        }
        setPermalink(this, c, z);
        map.loadImage("/map/bus_gray.png", function(error, image) {
          if (error) throw error;
          map.addImage("bus_stop", image);
        });
        map.loadImage("/map/bus_edge.png", function(error, image) {
          if (error) throw error;
          map.addImage("bus_edge", image);
        });
        map.loadImage("/map/bus_drag.png", function(error, image) {
          if (error) throw error;
          map.addImage("bus_stop_drag", image);
        });
        map.loadImage("/map/bus_new.png", function(error, image) {
          if (error) throw error;
          map.addImage("bus_new", image);
        });
        map.loadImage("/map/ngpt-mainRoute-icon.png", function(error, image) {
          if (error) throw error;
          map.addImage("ngpt-mainRoute-icon", image);
        });
        map.loadImage("/map/ngpt-backRoute-icon.png", function(error, image) {
          if (error) throw error;
          map.addImage("ngpt-backRoute-icon", image);
        });
        // component.loadJdIcon(map);
        map.addLayer({
          "id": "mapillary",
          "type": "line",
          "source": {
            "type": "vector",
            "tiles": [`${connection.getAddress()}/graph/{z}/{x}/{y}`],
            "minzoom": 18,
            "maxzoom": 22
          },
          "source-layer": "graph",
          "layout": {
            "line-cap": "square",
            "line-join": "miter"
          },
          "paint": {
            "line-opacity": 0.6,
            "line-color": "rgb(53, 175, 109)",
            "line-width": 2
          }
        }, 'waterway-label');

        // Добавляем данные и стили для Draw()
        let draw = new MapboxDraw({
          modes: modes,
          displayControlsDefault: false,
          userProperties: true,
          controls: {
            point: true,
            undo: true,
            trash: true
          },
          styles: [
            // Средняя точка полигона // eik4: 19w25d2
            {
              "id": "gl-draw-polygon-midpoint",
              "type": "circle",
              "filter": ["all", ["==", "$type", "Point"],
                ["==", "meta", "midpoint"],
                ["==", "eik4", 2] // [19w25d2a] чтобы вернуть мидпоинт (2): поменять 2 на 1
              ],
              "paint": {
                "circle-radius": 7,
                "circle-color": "#ff6d6d"
              }
            },
            // Линия деактивирована
            {
              "id": "gl-draw-line-inactive",
              "type": "line",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "LineString"],
                ["!=", "mode", "static"]
              ],
              "layout": {
                "line-cap": "round",
                "line-join": "round"
              },
              "paint": {
                "line-color": ["get", "user_color"],
                "line-width": 3
              }
            },
            {
              "id": "gl-draw-line-inactive-shadow",
              "type": "line",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "LineString"],
                ["!=", "mode", "static"]
              ],
              "paint": {
                "line-color": "transparent",
                "line-width": 5
              }
            },
            // Линия активирована
            {
              "id": "gl-draw-line-active",
              "type": "line",
              "filter": ["all", ["==", "$type", "LineString"],
                ["==", "active", "true"]
              ],
              "layout": {
                "line-join": "round"
              },
              "paint": {
                "line-color": "#ff6d6d",
                "line-dasharray": [3, 1],
                "line-width": 4
              }
            },
            // Контур вокруг деактивированной точки при рисовании полигона или линии // eik4: 19w25d2
            {
              "id": "gl-draw-polygon-and-line-vertex-stroke-inactive",
              "type": "circle",
              "filter": ["all", ["==", "meta", "vertex"],
                ["==", "$type", "Point"],
                ["!=", "mode", "static"],
                // ["==", "eik4", 1] // [19w25d5] этот фильтр по умолчанию должен быть убран
              ],
              "paint": {
                "circle-radius": 10,
                "circle-color": "#910b0b"
              },
              "layout": {
                "visibility": "none"
              }
            },
            // Точки полигона и линии деактивированы // eik4: 19w25d2
            {
              "id": "gl-draw-polygon-and-line-vertex-inactive",
              "type": "circle",
              "filter": ["all", ["==", "meta", "vertex"],
                ["==", "$type", "Point"],
                ["!=", "mode", "static"],
                // ["==", "eik4", 1] // [19w25d5] этот фильтр по умолчанию должен быть убран
              ],
              "paint": {
                "circle-radius": 8,
                "circle-color": "#ff6d6d"
              }
            },
            {
              "id": "gl-draw-polygon-and-line-vertex-active",
              "type": "circle",
              "filter": ["all", ["==", "meta", "vertex"],
                ["==", "$type", "Point"],
                ["==", "active", "true"],
                // ["==", "eik4", 1] // [19w25d5] этот фильтр по умолчанию должен быть убран
              ],
              "paint": {
                "circle-radius": 10,
                "circle-color": "#ffbfbf"
              }
            },
            // Контур деактивированной точки
            {
              "id": "gl-draw-point-point-cluster-stroke-inactive",
              maxzoom: 10,
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"],
                ['!has', 'user_name']
              ],
              "layout": {
                // "icon-allow-overlap": true,
                // "icon-image": "bus_stop",
                "icon-image": "bus_new",
                "icon-size": .3
              }
            },
            // Контур деактивированной точки
            {
              "id": "gl-draw-point-point-stroke-inactive",
              minzoom: 10,
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"],
                ['!has', 'user_name']
              ],
              "layout": {
                "icon-allow-overlap": true,
                // "icon-image": "bus_stop",
                "icon-image": "bus_new",
                "icon-size": .3
              }
            },
            // Точка деактивирована
            {
              "id": "gl-draw-point-cluster-inactive",
              maxzoom: 10,
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"],
              ],
              "layout": {
                // "icon-image": "bus_stop",
                "icon-image": ["get", "user_pic"],
                "icon-size": .3
              }
            },
            // Точка деактивирована
            {
              "id": "gl-draw-point-inactive",
              minzoom: 10,
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"]
              ],
              "layout": {
                "icon-allow-overlap": true,
                // "icon-image": "bus_stop",
                "icon-image": ["get", "user_pic"],
                "icon-size": .3
              }
            },
            // Точка деактивирована, текст
            {
              "id": "gl-draw-point-text-inactive",
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"]
              ],
              minzoom: 16,
              layout: {
                'text-field': ['get', 'user_name'],
                'text-anchor': 'left',
                'text-offset': [1, 0],
                'text-size': 15,
              },
              paint: {
                'text-halo-color': '#fff',
                'text-halo-width': 2
              }
            },
            // Точка деактивирована, номер в маршруте
            {
              minzoom: 10,
              "id": "gl-draw-point-ind-inactive",
              "type": "symbol",
              "filter": ["all", ["==", "active", "false"],
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["!=", "mode", "static"]
              ],
              layout: {
                'text-field': ['get', 'user_sequenceID'],
                'text-size': 10,
                'text-ignore-placement': true,
              },
              paint: {
                'text-color': '#fff'
              }
            },
            // Контур активированной точки
            {
              "id": "gl-draw-point-stroke-active",
              "type": "circle",
              "filter": ["all", ["==", "$type", "Point"],
                ["==", "active", "true"],
                ["==", "meta", "midpoint"],
                ["==", "meta", "feature"],
              ],
              "paint": {
                "circle-radius": 7,
                "circle-color": "#ff6d6d"
              },
              // "layout": { // [19w25d2a] чтобы вернуть мидпоинт (2): убрать layout
              //     "visibility": "none"
              // }

            },
            // Точка активирована
            {
              "id": "gl-draw-point-active",
              "type": "symbol",
              "filter": ["all",
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["==", "active", "true"],
              ],
              "layout": {
                "icon-allow-overlap": true,
                "icon-image": "bus_stop_drag",
                "icon-size": .25
              }
            },
            // Точка активирована, номер в маршруте
            {
              "id": "gl-draw-point-ind-active",
              "type": "symbol",
              "filter": ["all",
                ["==", "$type", "Point"],
                ["==", "meta", "feature"],
                ["==", "active", "true"],
              ],
              layout: {
                'text-field': ['get', 'user_sequenceID'],
                'text-ignore-placement': true,
                'text-size': 10,
              },
              paint: {
                'text-color': '#fff'
              }
            },

            // Статичная линия
            {
              "id": "gl-draw-line-static",
              "type": "line",
              "filter": ["all", ["==", "mode", "static"],
                ["==", "$type", "LineString"]
              ],
              "layout": {
                "line-cap": "round",
                "line-join": "round"
              },
              "paint": {
                "line-color": "#f0f0f0",
                "line-width": 5
              }
            },
            // Статичная точка
            {
              "id": "gl-draw-point-static",
              "type": "symbol",
              "filter": ["all", ["==", "mode", "static"],
                ["==", "$type", "Point"]
              ],
              "layout": {
                "icon-allow-overlap": true,
                "icon-image": "bus_stop",
                "icon-size": .25
              }
            }
          ]
        });
        map.addControl(draw, "bottom-left");
        document.querySelector('.mapboxgl-control-container').appendChild(document.querySelector('.map-controls'));
        loadData(draw);
        setControl("bottom-left", startData, map, draw, customizePointsFromEik4, updateDirectionInfo, getTimeStr);
        map.on("draw.create", updateRoute);
        map.on("draw.update", updateRoute);
        map.on("draw.delete", removeRoute);
        map.on("draw.delete", function(e) {
          console.log("delete", e);
        });
        map.on("draw.selectionchange", selectionchange);
        map.on("draw.render", function () { // [19w25d5] добавлена обработка render
          if (filtersChanged) {
            let arr = map.getFilter("gl-draw-polygon-and-line-vertex-inactive.cold");
            if (arr.length === 4) {
              arr.push(["==", "eik4", 1]);
              map.setFilter("gl-draw-polygon-and-line-vertex-inactive.cold", arr);
            }
          }
        });
        map.on("draw.changemode", function(e) {
          // console.log(e);
        });
        function selectionchange(e) {
          console.log(e);
          customizePointsFromEik4();
          let selectedObject = draw.getSelected();
          if (typeof selectedObject.features[0] !== "undefined") {
            if (selectedObject.features[0].geometry.type !== "Point") { // То мы выбрали линию/полигон
              draw.changeMode("direct_select", { featureId: selectedObject.features[0].id });
              // return;
            }
          }
          if (e.features.length === 1) {
            let f = e.features[0];
            if (clickedStop.id) {
              map.getStyle().layers.filter(l => {
                if (l.id === "stopArea") {
                  map.removeLayer("stopArea");
                  map.removeSource("stopArea");
                }
                if (l.id === "stopArea_border") {
                  map.removeLayer("stopArea_border");
                  map.removeSource("stopArea_border");
                }
              });
            }
            // eik4: если кликнутый объект является остановкой
            if (stop[f.id]) {
              // eik4: сохраняем id кликнутой остановки
              map.flyTo({
                center: f.geometry.coordinates,
                zoom: 17
              });
              clickedStop.id = f.id;
              let center = stop[f.id];
              let radius = 0.05;
              let options = {steps: 100, units: "kilometers"};
              let circle = turf.circle(center, radius, options);
              clickedStop.circle = circle;
              // eik4: добавляем окружность вокруг остановки
              map.addLayer({
                "id": "stopArea",
                "type": "fill",
                "source": {
                  "type": "geojson",
                  "data": circle
                },
                "paint": {
                  "fill-color": "#008000",
                  "fill-opacity": 0.1
                }
              });
              map.addLayer({
                "id": "stopArea_border",
                "type": "line",
                "source": {
                  "type": "geojson",
                  "data": circle
                },
                "paint": {
                  "line-color": "#000",
                  "line-dasharray": [3, 1],
                  "line-width": 3
                }
              })
            }
            else {
              clickedStop.id = null;
              clickedStop.circle = null;
            }
          }
          else {
            if (clickedStop.id) {
              map.removeLayer("stopArea");
              map.removeLayer("stopArea_border");
              map.removeSource("stopArea");
              map.removeSource("stopArea_border");
            }
            clickedStop.id = null;
            clickedStop.circle = null;
          }
        }
        // Use the coordinates you just drew to make the Map Matching API request
        function updateRoute(e) {
          console.log("update", e.type);
          console.log("mode", draw.getMode());
          // customizePointsFromEik4();
          // eik4: проверка на то, что была сдвинута остановка
          let stopMovedFlag = false;
          if (e.features.length === 1) {
            if (stop[e.features[0].id]) {
              stopMovedFlag = true;
            }
          }
          if (stopMovedFlag) { // eik4: если остановка была сдвинута
            let isInsideCircle = turf.booleanPointInPolygon(e.features[0], clickedStop.circle);
            if (!isInsideCircle) { // eik4: если остановка была сдвинута за нарисованный круг
              let steps = JSON.parse(localStorage.getItem("forwardSteps"));
              if(steps[steps.length - 1]) {
                draw.set(steps[steps.length - 1]);
                localStorage.setItem("forwardSteps", JSON.stringify(steps));
              }
            } else {
              getSteps(draw);
            }

          } else { // eik4: если остановка не была сдвинута, то выполняется старый код
            removeRoute(); // Перезаписываем слой
            var profile = "driving"; // Устанавливаем профиль (автомобильный)
            // Вытаскиваем выделенное
            var selectedObject = draw.getSelected();
            var coords = [];
            if (selectedObject.features.length === 0) { // Новая геометрия
              var data = draw.getAll();
              var lastFeature = data.features.length - 1;
              coords = data.features[lastFeature].geometry.coordinates;
            } else { // Существующая геометрия
              coords = selectedObject.features[0].geometry.coordinates
            }
            // Форматирование координат
            var newCoords = coords.join(";");
            // Установка радиусов в 25 метров
            var radius = [];
            coords.forEach(element => {
              radius.push(25);
            });
            if (e.type !== "draw.create") {
              if (check.checked) {
                if (selectedObject.features[0].geometry.type.includes("LineString")) {
                  if (selectedObject.features.length === 0 && selectedObject.features[0].geometry.type.includes("LineString")) { // Новая геометрия
                    data.features[lastFeature].properties.color = "#da70d6";
                    getMatch(draw, data.features[lastFeature], newCoords, radius, profile);

                    draw.delete(data.features[lastFeature].id);
                  } else { // Существующая геометрия
                    getMatch(draw, selectedObject.features[0], newCoords, radius, profile);

                    draw.delete(selectedObject.features[0].id);
                  }
                } else {
                  let p = e.features[0].geometry.coordinates;
                  let r = isInRoutesArea(draw, p, map);
                  if (!r) {
                    let steps = JSON.parse(localStorage.getItem("forwardSteps"));
                    if(steps[steps.length - 1]) {
                      draw.set(steps[steps.length - 1]);
                      localStorage.setItem("forwardSteps", JSON.stringify(steps));
                    }
                  } else {
                    getSteps(draw);
                  }
                }
              } else {
                if (selectedObject.features.length && selectedObject.features[0].geometry.type !== "Point") {
                  updateDirectionInfo(draw, getTimeStr)
                }
                getSteps(draw);
              }
            }
            // else if (e.type === "delete") {
            //     console.log(e);
            // }
            else {
              console.log("tralala", e);
              if (e.features.length === 1 && e.features[0].geometry.type === "Point") {
                // eik4: создается остановка
                let p = e.features[0].geometry.coordinates;
                let r = isInRoutesArea(draw, p, map);
                if (!r) {
                  let id = e.features[0].id;
                  draw.delete(id);
                } else {
                  getSteps(draw);
                  setTimeout(() =>  draw.changeMode("simple_select")); // unselect stop
                }
              }

            }
          }
        }

        // Отрисовка маршрута
        let selectedLine;
        map.on("mouseenter", "gl-draw-line-inactive-shadow.cold", function(e) {
          map.getCanvas().style.cursor = "pointer";
          selectedLine = e.features[0].properties.id
        });
        map.on("click", "gl-draw-line-inactive-shadow.cold", function(e) {
          console.log(e);
          if (selectedLine) {
            draw.changeMode("direct_select", {featureId: selectedLine})
          }
        });
        map.on("mouseleave", "gl-draw-line-inactive-shadow.cold", function() {
          map.getCanvas().style.cursor = "";
          selectedLine = "";
        });
        map.on("mouseenter", "gl-draw-polygon-and-line-vertex-inactive.cold", function(e) {
          map.getCanvas().style.cursor = "pointer";
          map.addSource("selected-point", {
            type: 'geojson',
            data: {
              type: 'FeatureCollection',
              features: [{
                type: 'Feature',
                geometry: {
                  type: 'Point',
                  coordinates: e.features[0].geometry.coordinates
                }
              }]
            }
          });
          map.addLayer({
            id: "selected-point",
            source: "selected-point",
            type: "circle",
            paint: {
              "circle-radius": 12,
              "circle-color": "transparent",
              "circle-stroke-color": "#ffbfbf",
              "circle-stroke-width": 3
            }
          });
        });
        map.on("mouseleave", "gl-draw-polygon-and-line-vertex-inactive.cold", function(e) {
          map.getCanvas().style.cursor = "";
          if (map.getSource("selected-point")) {
            map.getStyle().layers.filter(l => {
              if (l.id === "selected-point") {
                map.removeLayer("selected-point");
                map.removeSource("selected-point");
              }
            });
          }
        });
      });
      let popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      });

      map.on("mouseenter", "gl-draw-point-inactive.cold", function(e) {
        // console.log(e);
        if (e.features[0].properties.user_name) {
          map.getCanvas().style.cursor = "pointer";
          let coordinates = e.features[0].geometry.coordinates.slice();
          let direction = (e.features[0].properties.user_dir === 0) ? "прямое" : "обратное";
          let description = `${e.features[0].properties.user_name} (${direction} направление)`;
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }
          popup.setLngLat(coordinates)
            .setHTML(`
                    <div class="editor-info">
                      <div>
                        <div class="editor-info__header">${e.features[0].properties.user_name}</div>
                        <div class="editor-info-stops">
                          <div class="editor-info-box">
                            <span class="editor-info-box__title">Направление маршрута:</span> <span class="editor-info-box__value">${direction}</span>
                          </div>
                          <div class="editor-info-box">
                            <span class="editor-info-box__title">Номер остановки в маршруте: </span> <span class="editor-info-box__value">${e.features[0].properties.user_sequenceID}</span></div>
                           </div>
                        </div>
                      </div>
                  `)
            .addTo(map);
        }
      });
      map.on("mouseleave", "gl-draw-point-inactive.cold", function() {
        map.getCanvas().style.cursor = "";
        popup.remove();
      });
      map.on("zoomend", customizePointsFromEik4);

    }
  }
</script>

<style lang="scss">
  #match {
    display: none;
  }

  .mapbox-gl-draw_info {
    background-image: url(/map/info_icon.png);
  }

  .mapbox-gl-draw_save {
    background-image: url(/map/save_icon.png);
  }

  .mapbox-gl-draw_undo{
    background-image: url(/map/undo.png);
  }

  .mapbox-gl-draw_graph.graph_active {
    background-image: url(/map/pen.svg);
  }

  .mapbox-gl-draw_reset {
    background: no-repeat center url(/map/reset.svg);
  }

  .mapbox-gl-draw_redo {
    background: no-repeat center url(/map/undo.png);
  }

  .mapboxgl-ctrl-group > button {
    background-position: center;
  }

  .info-container {
    min-height: 182px !important;
  }

  .modal-map {
    position: relative;
    margin-bottom: 20px;

    &__message {
      padding: 10px;
      margin-right: 20px;
    }
  }

  #modal-map {
    height: 500px;
    &:-webkit-full-screen {
      height: 100%;
    }

    .mapboxgl-popup-close-button {
      font-size: 20px;
      padding: 5px;
    }

    .mapboxgl-ctrl-group.mapboxgl-ctrl {
      background-color: #fff;
      & > button {
        width: 30px;
        height: 30px;
      }
    }

    .map-controls {
      &_modal {
        position: static;
      }
    }

    .mapboxgl-ctrl-bottom-left {
      .mapbox-gl-draw_ctrl-draw-btn.active, .mvp_info.active, .mvp_save.active {
        background-color: #ff6d6d;
      }

      .mapboxgl-ctrl-group {
        height: 182px;
      }
      .mapboxgl-ctrl-group > button {
        height: calc(182px / 4);
      }
      .mapboxgl-ctrl-group > button {
        background-size: 50%;
      }
      .mapboxgl-ctrl > button:hover {
        background-color: rgba(0,0,0,.1);
      }
      .mapbox-gl-draw_ctrl-draw-btn.active:hover, .mvp_info.active:hover, .mvp_save.active:hover {
        background-color: rgb(235,89,89);
      }
    }


  }

  .mapboxgl-ctrl-top-right {
    .mapboxgl-ctrl-group {
      height: auto;
      & > button {
        background-size: 100%;
      }
    }
  }

  .info-container {
    margin-right: 30px;
  }

  .modal-map-legend {
    margin-bottom: 15px;
    &__lines {
      list-style: none;
      padding: 0;
    }
    &__line-color {
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  // map-styles

  #match {
    visibility: hidden;
  }
  label, input {
    cursor: pointer;
  }
  .mvp_info {
    background: no-repeat center url(/map/info_icon.png);
  }
  .mvp_center {
    background: no-repeat center url(/map/center.png);
  }
  .mvp_save {
    background: no-repeat center url(/map/save_icon.png);
  }
  .mvp_reset {
    background: no-repeat center url(/map/reset.svg);
  }
  .mvp_undo {
    background: no-repeat center url(/map/undo.png);
  }
  .mvp_redo {
    background: no-repeat center url(/map/undo.png);
    transform: scale(-1,1);
  }
  .mvp_redo:disabled,
  .mvp_undo:disabled {
    opacity: .3;
  }

  .info-container {
    position: absolute;
    bottom: 38px;
    left: 51px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 16px 0 16px 10px;
    -webkit-touch-callout: none /* iOS Safari */;
    -webkit-user-select: none /* Safari */;
    -khtml-user-select: none /* Konqueror HTML */;
    -moz-user-select: none /* Firefox */;
    -ms-user-select: none /* Internet Explorer/Edge */;
    user-select: none /* Non-prefixed version, currently supported by Chrome and Opera */;
    cursor: default;
    max-width: 0;
    transition: max-width .5s;
  }
  .info-container.active .info-show {
    transform: rotate(180deg);
  }
  .info-container caption {
    margin-bottom: 10px;
  }
  .info-container table {
    width: 500px;
  }
  .info-container th {
    text-align: right;
    font: 400 .8rem sans-serif;
    color: #999;
    line-height: 20px;
  }
  .info-container td {
    padding-left: 10px;
    line-height: 20px;
  }
  .info-show {
    width: 10px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    cursor: pointer;
    /*transform: rotate(-90deg);*/
    transition: transform .5s;
    left: 0;
    background: url(/map/arrow.png) no-repeat center center / contain;
  }
  #info-block {
    display: none;
  }
  .mapboxgl-map.mouse-move .mapboxgl-canvas-container.mapboxgl-interactive {
    /*cursor: move;*/
    cursor: pointer;
  }
  .mapboxgl-map.mode-direct_select.feature-vertex.mouse-move .mapboxgl-canvas-container.mapboxgl-interactive {
    /*cursor: move;*/
    cursor: pointer;
  }
  .mapboxgl-map.mode-direct_select.feature-feature.mouse-move .mapboxgl-canvas-container.mapboxgl-interactive {
    /*cursor: move;*/
    cursor: pointer;
  }

</style>
