<template>
  <div>
    <button
      class="mapboxgl-ctrl-icon mapboxgl-ctrl-icon-search"
      :class="{'mapboxgl-ctrl-icon_active': searchFieldVisible}"
      @click="searchFieldToggle"
    >
      <SearchIcon class="map-controls__icon map-controls__icon_search"/>
    </button>
    <div v-if="ymaps && searchFieldVisible" class="search-field">
      <div class="search-field__container">
        <input
          ref="searchInput"
          @focus="searchResultsVisible = true"
          @input="search"
          v-model="query"
          placeholder="Поиск на карте"
          class="search-field__input"
          type="text"
        >
        <button
          v-if="query.length"
          class="search-field__reset-btn"
          @click="searchReset"
        >
          <CloseIcon class="search-field__reset-icon"/>
        </button>
      </div>
      <div v-if="searchResults.length && searchResultsVisible" class="search-results" v-bar>
        <ul class="search-results__items">
          <li
            @click="onSearchResultClick(item)"
            v-for="(item, key) in searchResults"
            :key="key"
            class="search-results__item"
          >
            <button class="search-results__btn">{{item.name}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchIcon from '~/components/svg/SearchIcon';
  import CloseIcon from '~/components/svg/CloseIcon';
  import ymaps from 'ymaps';

  export default {
    components: {
      CloseIcon,
      SearchIcon,
    },
    data() {
      return {
        searchFieldVisible: false,
        query: '',
        searchResults: [],
        searchResultsVisible: false,
        ymaps: null,
      }
    },
    methods: {
      getSocialObjects() {
        $nuxt.$store.dispatch('socialObjects/getSocialObjects');
      },
      clearSocialObjects() {
        $nuxt.$store.dispatch('socialObjects/clearSocialObjects');
      },
      searchFieldToggle() {
        this.searchFieldVisible = !this.searchFieldVisible;
        if (this.searchFieldVisible) {
          $nuxt.$nextTick(() => {
            this.$refs.searchInput.focus();
          });
        } else {
          this.query = '';
          this.$bus.$emit('hideSearchResult');
        }
      },
      search() {
        this.searchResults = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (this.query.length) {
            this.searchControl.search(this.query).then(() => {
              this.searchControl.getResultsArray().forEach(r => {
                let address = r.properties.get('address');
                let description = r.properties.get('description');
                if (address.includes('Моск')) {
                  description = description.replace('Россия, Москва', '');
                  description = description.replace('Россия, Московская область', 'Московская область');
                  description = description.replace(', Москва, Россия', '');
                  this.searchResults.push({
                    coordinates: r.geometry.getCoordinates().reverse(),
                    name: r.properties.get('name') + (description.length ? `, ${description}` : '')
                  })
                }
              });
              this.searchResultsVisible = true;
            });
          }
        }, 400);
      },
      onSearchResultClick(result) {
        this.query = result.name;
        this.searchResultsVisible = false;
        this.showSearchResult(result);
      },
      showSearchResult(result) {
        this.$bus.$emit('showSearchResult', result.coordinates);
      },
      hideSearchResults(e) {
        if (!e.target.closest('.search-field')) {
          this.searchResultsVisible = false;
        }
      },
      searchReset() {
        this.query = '';
        this.searchResults = [];
        this.$refs.searchInput.focus();
        this.$bus.$emit('hideSearchResult');
      }
    },
    computed: {
      socialObjects() {
        return $nuxt.$store.state.socialObjects.items;
      }
    },
    async mounted() {
      await Promise.all([
        ymaps.load('https://api-maps.yandex.ru/2.1/?apikey=f1d03e63-82b9-4586-8be2-5723669ef7eb&lang=ru_RU'),
        // this.getSocialObjects()
      ]).then(([ymaps]) => {
        this.ymaps = ymaps;
        this.searchControl = new ymaps.control.SearchControl({
          options: {
            provider: 'yandex#search',
            boundedBy: [[55.575450, 37.365846,], [55.910173, 37.839631]],
          }
        });
      });
      // document.addEventListener('click', this.hideSearchResults);
    },
    beforeDestroy() {
      // document.removeEventListener('click', this.hideSearchResults);
      // this.clearSocialObjects();
    }
  }
</script>

<style lang="scss">
  .mapboxgl-ctrl-icon-search {
    width: 30px;
    height: 30px;
  }

  .search-field {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 12px;
    border-radius: 5px;
    width: 200px;

    &__container {
      position: relative;
    }

    &__input {
      height: 30px;
      width: 100%;
      padding: 0 25px 0 10px;
      box-shadow: 0 1px 2px rgba(10, 30, 50, 0.152768);
      border-radius: 5px;
      background-color: #fff;
    }

    &__reset-btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);

      svg {
        display: block;
      }
    }
  }

  .search-results {
    box-shadow: 0 3px 10px rgba(10, 30, 50, 0.1);
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;

    &__items {
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 150px;
    }

    &__btn {
      text-align: left;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      padding: 5px 10px;
    }
  }
</style>
