<template>
  <div class="login-page">
    <vue-snotify />
    <div class="login-page__content">
      <form
        ref="form"
        class="login-form"
        @submit.prevent="onsubmit"
      >
        <div class="login-page__header">
          <img 
            src="../../assets/menu/logo.svg" 
            alt="logo" 
            class="login-page__header-img" >
          <span class="login-page__header-text">Голосование по маршрутам</span>
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="email"
            v-model="email"
            :hide-details="true"
            label="E-mail"
            required
            class="login-form__input"
            type="email"
          />
        </div>
        <div class="login-form__field-btn">
          <button 
            v-ripple 
            :disabled="disableLoginButton"
            :class="{'disabled': disableLoginButton}" 
            type="submit"
            class="login-form__btn login-form__btn_submit">Восстановить</button>
          <button
            v-ripple
            @click="onCancelBtnClick"
            v-if="redirectParams && redirectParams.cancelBtn"
            type="button"
            class="login-form__btn login-form__btn_cancel">Отмена
          </button>
        </div>
        <div class="login-form__footer">
          <nuxt-link
            class="login-form__link"
            to="/login/">Назад</nuxt-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Snotify from 'vue-snotify'
import { mapActions } from 'vuex'

export default {
  components: {
    Snotify
  },
  data() {
    return {
      email: '',
    }
  },
  computed: {
    disableLoginButton() {
      return !this.email
    },
    redirectParams() {
      return this.$store.state.auth.redirectParams;
    }
  },
  mounted() {
    this.$refs.email.$refs.input.addEventListener(
      'animationend',
      this.fixAutoFilledInput
    )

    this.$refs.form.addEventListener('input', event => {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (event.target.validity.valueMissing) {
        event.target.setCustomValidity('Заполните поле')
      } else if (!re.test(String(this.email).toLowerCase())) {
        event.target.setCustomValidity('Введите корректный e-mail')
      } else {
        event.target.setCustomValidity('')
      }
    })
  },
  methods: {
    ...mapActions({
      authenticate: 'auth/authenticate'
    }),
    onsubmit() {
      /* const data = {
        email: this.email,
      }
      this.authenticate(data)
        .then(() => {
          this.$store.commit('auth/SET_DATA', {
            authorized: true,
          });
          this.$router.push('/')
          })
        .catch(err => {
          this.$snotify.error(
            `Информация об ошибке: ${err.response && err.response.data.Error}`,
            `Не удалось авторизоваться!`,
            {
              position: 'centerTop',
              titleMaxLength: 100
            }
          )
        }) */
        this.$router.push('/login/')
    },
    fixAutoFilledInput(e) {
      e.target.previousSibling.classList.add('v-label--active')
    },
    onCancelBtnClick() {
      if (!this.redirectParams) {
        return;
      }
      const routeParams = JSON.parse(JSON.stringify(this.redirectParams.routeParams));
      routeParams.params.showComments = false;
      routeParams.params.modalOpen = false;
      this.$store.commit('auth/setRedirectParams', null);
      this.$router.push(routeParams);
    },
  }
}
</script>

<style lang="scss">

</style>
