<template>
  <div class="achievement">
    <div class="achievement__top">
      <h3 class="achievement__title">
        <HandIcon v-if="data.handIcon" class="achievement__icon"/>
        <ReactionIcon v-if="data.reactionIcon" class="achievement__icon"/>
        <WritingIcon v-if="data.writingIcon" class="achievement__icon"/>
        {{data.title}}
      </h3>
      <v-btn @click="onBtnClick(data.btn)" class="achievement__btn">
        <AddIcon v-if="data.btn.addIcon" class="achievement__add-icon"/>
        {{data.btn.text}}
      </v-btn>
    </div>
    <ul class="achievement__list">
      <li v-for="(item, key) in data.items" :key="key" class="achievement__item">
        <span class="achievement__count">{{item.count}}</span>
        <span class="achievement__desc">{{item.text}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import HandIcon from '~/components/svg/HandIcon2';
  import ReactionIcon from '~/components/svg/ReactionIcon';
  import WritingIcon from '~/components/svg/WritingIcon';
  import AddIcon from '~/components/svg/AddIcon';

  export default {
    props: ['data'],
    components: {
      HandIcon,
      ReactionIcon,
      WritingIcon,
      AddIcon,
    },
    methods: {
      onBtnClick(btn) {
        if (btn.link) {
          this.$router.push(btn.link);
        }
        if (btn.onBtnClick) {
          btn.onBtnClick();
        }
      }
    }
  }
</script>

<style lang="scss">
  .achievement {
    &__top {
      display: flex;
      justify-content: space-between;
      background-color: #092360;
      border-radius: 5px;
      color: #fff;
    }

    &__title {
      display: flex;
      align-items: center;
      font-weight: 400;
      position: relative;
      margin: 0;
      padding-left: 100px;
    }

    &__icon {
      width: 75px;
      height: 75px;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 30px 0;
    }

    &__item {
      display: flex;
      align-items: center;
      font-weight: 300;
      width: 50%;
      padding: 0 15px;
    }

    &__count {
      color: #2f7ce6;
      font-size: 54px;
      margin-right: 15px;
    }

    &__desc {
      color: #092360;
      font-size: 18px;
    }

    &__btn.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
      background-color: #2f7ce6;
      color: #fff;
    }

    &__add-icon {
      margin-right: 10px;
    }
  }
</style>
